atlas_workflow_dump.json
{"updatedAt":"2026-03-02T11:41:32.718Z","createdAt":"2026-03-02T11:41:32.718Z","id":"yjYojxfTCjKGjsJ6","name":"Atlas","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.etiquetas.append('testando-agente').unique() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,832],"id":"c74040f3-ebf1-40de-9035-5a175d87ed30","name":"Colocar etiqueta testando-agente","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Modo de teste habilitado."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,832],"id":"3a5dcb78-6a2c-4f1d-a4f7-ed7103e911e5","name":"Enviar teste habilitado","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"content":"## Habilitar testes\n","height":272,"width":448,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1328,752],"typeVersion":1,"id":"961b8b40-360b-4112-b089-02cfe14bf5e3","name":"Sticky Note3","disabled":true},{"parameters":{"content":"## 01. Secretária v3","height":80,"width":272,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"b46c83c2-5b39-422c-825b-4c35a55109f3","name":"Sticky Note25"},{"parameters":{"content":"[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n","height":96,"width":324,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,400],"id":"7a563fff-4fff-4feb-8ce0-f6cae90481cb","name":"Sticky Note26"},{"parameters":{"content":"@[youtube](FnEr3ksORS4)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2176,1584],"id":"ed9503e7-5dd9-4b1c-9e1f-50a948d842aa","name":"Sticky Note32"},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"33B4UnXyTNbgLmdEDh5P","mode":"list","cachedResultName":"Keren - Sweet, Vibrant and Rhythmic"},"text":"={{ $('Formatar SSML1').item.json.text }}","additionalOptions":{"model":{"__rl":true,"value":"eleven_flash_v2_5","mode":"list"},"outputFormat":"mp3_44100_32","languageCode":"pt-BR","voiceSettings":"{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[1968,384],"id":"6225f088-e3d6-48e1-9458-c602704aee61","name":"Gerar áudio","retryOnFail":true,"credentials":{"elevenLabsApi":{"id":"eG4SeXJvEJRzN0NT","name":"ElevenLabs account"}}},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info1').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,128],"id":"90995282-e752-4b78-9014-27db1e4c5d8b","name":"Mensagem encavalada?1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info1').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2448,128],"id":"c744b83b-abee-4319-b011-e11614df3d82","name":"Buscar mensagens1","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $('Info1').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1936,336],"id":"3c97b43a-d6ea-443c-9f84-4ca0e47a2aea","name":"Limpar fila de mensagens2","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"amount":16,"path":"081c2ae2-687d-4d70-b215-9e54a0415e31"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2656,128],"id":"71a63aa0-c5aa-4b1a-84a5-48a2ada83ae5","name":"Esperar1","webhookId":"081c2ae2-687d-4d70-b215-9e54a0415e31"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info1').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf854624-77ee-461e-a072-e373dcecf4f8","leftValue":"={{ $('Info1').item.json.info_arquivo }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Arquivo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info1').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3408,208],"id":"875e6608-8e12-4956-9def-47ca9efae27a","name":"Tipo de mensagem1"},{"parameters":{"descriptionType":"manual","toolDescription":"Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.","resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Y-y1XgNO0BHvoazTSNCNBjxKaQKo9nF9","mode":"list","cachedResultName":"Arquivos da Secretária v3","cachedResultUrl":"https://drive.google.com/drive/folders/1Y-y1XgNO0BHvoazTSNCNBjxKaQKo9nF9"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-1408,384],"id":"8447fcbf-7d56-4ba7-9298-1ca076e13e4e","name":"Listar arquivos1","credentials":{"googleDriveOAuth2Api":{"id":"sST8waN8Evjq9qhR","name":"Google Drive account 2"}}},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)","height":472,"width":548,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-432],"id":"afc06ed9-dd04-4ec2-8768-f2f0582b79d6","name":"Sticky Note18"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info1').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1568,384],"id":"3cdfde90-d29c-4fbe-b6a1-07bf6268e1ff","name":"Memory1","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":368,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,1216],"id":"5c0cdf9c-9e68-4c5e-8392-d4cf200b977c","name":"Sticky Note39","disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info1').item.json.telefone }}","mensagem":"={{ $('Info1').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info1').item.json.info_arquivo ? `\\n${$('Info1').item.json.info_arquivo}` : '' }}","timestamp":"={{ $('Info1').item.json.timestamp.toDateTime() }}","id_mensagem":"={{ $('Info1').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2880,208],"id":"d9b689ec-8e57-4cae-83b0-8e95bb63ca0e","name":"Enfileirar mensagem.1","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/update_last_seen","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,144],"id":"81650744-2d78-40dc-bb6a-0e492acc1431","name":"Marcar como lidas1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"url":"={{ $('Mensagem recebida1').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3216,320],"id":"8804a7d3-7bc4-4141-998b-1ddc19724ae0","name":"Download áudio1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3056,320],"id":"0465d0e5-42ac-42e3-ad22-e536c851a63f","name":"Transcrever audio1","credentials":{"openAiApi":{"id":"HhiJWtpNJJhxcLx6","name":"OpenAi account"}}},{"parameters":{"description":"Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"UbyyI9Lwj3AOxhwI","mode":"list","cachedResultUrl":"/workflow/UbyyI9Lwj3AOxhwI","cachedResultName":"05. Escalar humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-720,384],"id":"a5111559-c1c0-42ab-a582-ecfc3ae79e61","name":"Escalar humano1"},{"parameters":{"content":"[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)","height":80,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2192,704],"id":"ffd65e03-0dfb-4472-99a0-5b680da398ce","name":"Sticky Note40"},{"parameters":{"content":"## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.","width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,-32],"id":"51ed76d0-ef6e-49cc-bf37-33efd2c1d02a","name":"Sticky Note41","disabled":true},{"parameters":{"content":"## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)","height":392,"width":1204,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3584,-928],"id":"581c607b-8806-4d72-a218-35a6d2518722","name":"Sticky Note42"},{"parameters":{"assignments":{"assignments":[{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwood.rodrigobrito.cloud","type":"string"},{"id":"542c4f0e-1d6a-4da2-8e08-a4127bd85423","name":"agendamento_duracao_minutos","value":"30","type":"string"},{"id":"8f1f8dd4-12e7-4c56-8d56-ada479a7225d","name":"cobranca_valor","value":"500","type":"string"},{"id":"9aa7c3ba-f1fa-4222-9b2e-824a2c743409","name":"id_conversa_alerta","value":"1","type":"string"},{"id":"a1ae5215-cb10-4482-a5b0-b59cb0407171","name":"url_asaas","value":"https://api-sandbox.asaas.com","type":"string"},{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $json.body.account.id }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"7ca2f49a-8aad-47db-877f-6b8ddc6c6830","name":"id_contato","value":"={{ $json.body.conversation.contact_inbox.contact_id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"188fafa0-910a-456b-91d0-9c9188d66535","name":"nome","value":"={{ $json.body.sender.name }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $json.body.message_type }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"38610298-ef19-4e79-bdeb-753c02636ef7","name":"email_usuario","value":"={{ $json.body.sender.email }}","type":"string"},{"id":"d37b6368-01a0-4161-a4a9-26c0960cd489","name":"atributos_contato","value":"={{ $json.body.sender.custom_attributes }}","type":"object"},{"id":"6ab3c868-9b6b-4452-884d-7f8faeeabdd5","name":"info_arquivo","value":"={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4096,224],"id":"20f40d76-76b6-4877-9a95-1f243ae19e0f","name":"Info1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2ed5d70-7afa-4b23-ba63-5bcc23325d25","leftValue":"={{ $json.tipo }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"82912d66-ee4b-439c-9d55-96090bc6ba62","leftValue":"={{ $json.etiquetas }}","rightValue":"agente-off","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"ed3e36d7-4f2c-4804-9e8d-f9b08494e939","leftValue":"={{ $json.etiquetas }}","rightValue":"gestor","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.etiquetas }}","rightValue":"testando-agente","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3600,224],"id":"1659c2e8-2137-4827-b9eb-d0d46aa12294","name":"Processar mensagem?1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem.toLowerCase() }}","rightValue":"/reset","operator":{"type":"string","operation":"equals"},"id":"a29a880e-fb21-43fa-9a4a-092128ddfe2e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reset"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45","leftValue":"={{ $json.mensagem.toLowerCase() }}","rightValue":"/teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Teste"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensagem normal"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3872,208],"id":"959a87db-5d5a-48b1-8d13-6415032ac4ac","name":"Reset ou teste1"},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $('Info1').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3120,-448],"id":"f98627e7-0c2d-4de9-8c15-8cfd83024b6c","name":"Limpar etiquetas1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Memória resetada."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2560,-448],"id":"f8296607-78b6-47b4-b43f-34ee6053b035","name":"Enviar memória resetada1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Info1').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3504,-448],"id":"8ac9a259-4e04-465f-926f-ba5825e1e975","name":"Limpar memória1","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/contacts/{{ $('Info1').item.json.id_contato }}/destroy_custom_attributes","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3312,-448],"id":"87478ed6-78d2-492c-9d34-fa458034482d","name":"Resetar atributos1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $('Info1').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2736,-448],"id":"7980bbd9-b84e-47dc-82f8-f56a3181a5f0","name":"Limpar fila de mensagens3","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.etiquetas.append('testando-agente').unique() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3504,-144],"id":"15b4e736-8f50-41a0-b28f-89aa83881c4f","name":"Colocar etiqueta testando-agente1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Modo de teste habilitado."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3312,-144],"id":"308da63b-53cd-484a-a312-9d7615e7b911","name":"Enviar teste habilitado1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84e8cae9-28e3-4abd-869c-612fcff95948","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ee8306ee-1d14-4732-9865-a21f52da6a2e","leftValue":"={{ $json.lock_conversa }}","rightValue":"pending","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"bf08f3f7-aff7-47be-8f89-2d0e3ee19049","leftValue":"={{ $runIndex }}","rightValue":5,"operator":{"type":"number","operation":"gte"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2336,336],"id":"470e0e47-9d8b-4b8d-8eb9-50bd965e9029","name":"Agente já terminou de responder?1"},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?1').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,144],"id":"bf816276-19bd-4182-b7ac-01bcd5522bed","name":"Coletar mensagens1","executeOnce":true},{"parameters":{"toolDescription":"Utilize essa ferramenta para enviar uma mensagem de texto para o usuário. Usada para enviar links, números de telefone, e outras informações a serem destacadas, e que não funcionam bem para mensagens de áudio.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $fromAI('conteudo', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-720,512],"id":"234f40f9-6b98-46d8-ad0f-8dd87cf9feb6","name":"Enviar texto separado1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","message":"={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,208],"id":"c4a1c6da-3e2d-4d9b-a863-94c0e666f7ed","name":"Salvar tool calls1","credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"063ab981-e52e-4779-9c1a-8d6dfa384643","leftValue":"={{ $json.intermediateSteps }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,272],"id":"2ed1ff88-5e40-41e3-90a7-ab73b3693b84","name":"Usou tools?1"},{"parameters":{"url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/contacts/{{ $('Info1').item.json.id_contato }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,304],"id":"28d44c5f-cf09-43ea-abfc-4efdaea6a9d2","name":"Buscar atributos do contato1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"jsCode":"const { preferencia_audio_texto } = $('Buscar atributos do contato1').first().json.payload.custom_attributes;\nconst { mensagem_de_audio } = $('Info1').first().json;\n\nif (preferencia_audio_texto === 'texto') {\n  return { tipo_resposta: 'texto' };\n}\nif (preferencia_audio_texto === 'audio') {\n  return { tipo_resposta: 'audio' };\n}\n// Preferência não setada, usar tipo da mensagem do usuário\nreturn { tipo_resposta: mensagem_de_audio ? 'audio' : 'texto' };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,304],"id":"d1e6105d-5bb3-4dcd-b131-73eaa9a72df3","name":"Calcular tipo da resposta1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo_resposta }}","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $json.tipo_resposta }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1168,304],"id":"b4680064-8b5a-4bf4-8f95-c845472a7629","name":"Tipo da resposta1"},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/toggle_typing_status","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_status","value":"recording"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,384],"id":"4e391126-b25a-40af-a26d-b1433f8f94dc","name":"Gravando...1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"is_recorded_audio","value":"=[\"{{ $binary.data.fileName }}\"]"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"},{"name":"content_attributes","value":"={\"zapi_args\":{\"delayTyping\":12}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,384],"id":"8ea80f0d-570d-4236-bd37-3925d8fa323c","name":"Enviar áudio1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"mg6tDNh4dYdxg2Pi","mode":"list","cachedResultUrl":"/workflow/mg6tDNh4dYdxg2Pi","cachedResultName":"07. Quebrar e enviar mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('Formatar texto1').item.json.text }}","id_conversa":"={{ $('Info1').item.json.id_conversa }}","id_conta":"={{ $('Info1').item.json.id_conta }}","url_chatwoot":"={{ $('Info1').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1968,144],"id":"4260f4df-7679-4864-9f53-530c398ba6fc","name":"Quebrar e enviar mensagens1"},{"parameters":{"description":"Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)","workflowId":{"__rl":true,"value":"12XbuZTmMPfo2HrY","mode":"list","cachedResultUrl":"/workflow/12XbuZTmMPfo2HrY","cachedResultName":"03. Buscar janelas disponíveis Google Calendar"},"workflowInputs":{"mappingMode":"defineBelow","value":{"periodo_inicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}","periodo_fim":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}","id_agenda":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}","tamanho_janela_minutos":"={{ $('Info1').item.json.agendamento_duracao_minutos }}","granularidade":15},"matchingColumns":[],"schema":[{"id":"periodo_inicio","displayName":"periodo_inicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"periodo_fim","displayName":"periodo_fim","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_agenda","displayName":"id_agenda","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tamanho_janela_minutos","displayName":"tamanho_janela_minutos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"granularidade","displayName":"granularidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"amostras","displayName":"amostras","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1120,384],"id":"0e03dc8d-1432-4497-8a41-52c7dd5a6bae","name":"Buscar janelas disponiveis1"},{"parameters":{"toolDescription":"Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto.","method":"PATCH","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/contacts/{{ $('Info1').item.json.id_contato }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  {\n    \"custom_attributes\": {\n      ...$('Info1').item.json.atributos_contato,\n      preferencia_audio_texto: $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-576,512],"id":"5d67c0e8-f2f5-4e95-ba23-f55dfa39360a","name":"Preferencia audio texto1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content_attributes","value":"={ \"in_reply_to\": {{ $('Info1').item.json.id_mensagem }}, \"is_reaction\": true }"},{"name":"content","value":"={{ $fromAI('content', `O emoji da reação.`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-576,384],"id":"bf328182-bbef-4fd4-88b4-474333ddc6c1","name":"Reagir mensagem1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1376,512],"id":"92132788-532a-4c0c-a317-1fdc7157ac33","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HhiJWtpNJJhxcLx6","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1552,272],"id":"36591f99-ae1c-4f31-b06a-958224aa747b","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"HhiJWtpNJJhxcLx6","name":"OpenAi account"}}},{"parameters":{"content":"## Configurar node Info!!","height":240,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4192,144],"typeVersion":1,"id":"07902a4b-d603-4f12-84d6-abe50bc516bb","name":"Sticky Note2"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('Info1').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2560,336],"id":"f135860d-511d-4daa-8f17-5f1454111727","name":"Verificar status atendimento1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":true,"numero_followup":0,"aguardando_followup":true,"updated_at":"={{ $now }}"},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2112,336],"id":"7ec348a3-77fc-4869-8b5c-a0caaf0af41e","name":"Bloquear status atendimento1","alwaysOutputData":false,"credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":false,"numero_followup":0,"aguardando_followup":false},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2928,-448],"id":"a9d65187-d394-41e2-bd48-de6a7f161f1a","name":"Resetar status atendimento1","alwaysOutputData":false,"credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":false},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,384],"id":"54fe8026-ed04-49d0-a187-7460720a3597","name":"Limpar status atendimento2","alwaysOutputData":false,"credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":false},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2416,256],"id":"3efa8149-51e5-4929-91b5-b938f4b23a51","name":"Limpar status atendimento3","alwaysOutputData":false,"executeOnce":true,"credentials":{"postgres":{"id":"GmfPEbsh1jXg2kyt","name":"Postgres account"}}},{"parameters":{"content":"## Resetar conversa\n","height":288,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3584,-528],"typeVersion":1,"id":"04ccc7aa-259d-434b-a8b1-59789d91854d","name":"Sticky Note5","disabled":true},{"parameters":{"content":"## Habilitar testes\n","height":272,"width":448,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-3584,-224],"typeVersion":1,"id":"3389bd7f-5d7a-423e-8a89-1d6f41c62ad9","name":"Sticky Note10","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1696,384],"id":"b5e3162c-bffc-4f3a-ba92-18e466a9a3ea","name":"OpenAI1","credentials":{"openAiApi":{"id":"HhiJWtpNJJhxcLx6","name":"OpenAi account"}}},{"parameters":{"content":"## Core","height":336,"width":272},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,304],"id":"5b009f30-f635-47b3-ab91-d0ae2756ceb8","name":"Sticky Note43","disabled":true},{"parameters":{"content":"## Google Drive","height":336,"width":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1440,304],"id":"665b8aa3-3e44-4900-9d74-8d122d82ee8a","name":"Sticky Note44","disabled":true},{"parameters":{"content":"## Google Calendar","height":336,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1152,304],"id":"0c871094-7d4c-49cc-9c78-25dc3669421e","name":"Sticky Note45","disabled":true},{"parameters":{"content":"## Chatwoot","height":336,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,304],"id":"9e6fce9b-978b-4882-8973-4c8c40100d28","name":"Sticky Note46","disabled":true},{"parameters":{"content":"## Asaas","height":336,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,304],"id":"fcbd4394-48cb-4dcc-87e4-ea5354742867","name":"Sticky Note47","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93a1e408-265a-438d-b860-1ea7f6a79f93","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e5ed93cc-0025-4858-a0e5-b621594b01de","leftValue":"={{ $json.output }}","rightValue":"Agent stopped due to max iterations.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,320],"id":"714c399f-209f-44b2-ba64-a46f0485e951","name":"Output válido?1"},{"parameters":{"errorMessage":"=Problema no output do agente: {{ $('Secretária v').item.json.output }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[576,384],"id":"fb87ddea-0a4b-4cf1-b1fd-acee362376f6","name":"Output inválido1"},{"parameters":{"content":"## Tratar input","height":448,"width":1600,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,64],"id":"4820e6c9-f626-497c-b529-dc8f4a4f2e12","name":"Sticky Note48"},{"parameters":{"content":"## Mensagens encavaladas","height":448,"width":960,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2736,64],"typeVersion":1,"id":"8681237f-3efc-4f25-b32f-40d0886cc360","name":"Sticky Note49","disabled":true},{"parameters":{"content":"## Secretária\n","height":608,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1760,64],"typeVersion":1,"id":"86b8a225-442b-47f7-ad33-787506e42725","name":"Sticky Note50","disabled":true},{"parameters":{"content":"## Pré-processar e enviar resposta","height":608,"width":1872,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,64],"id":"20d7e90c-2fd7-4283-9f5e-369b9aa8cfa4","name":"Sticky Note51","disabled":true},{"parameters":{"content":"## Tratar output do agente","height":608,"width":816,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-112,64],"typeVersion":1,"id":"bbd71395-eb05-4d71-89da-3491628d5140","name":"Sticky Note52","disabled":true},{"parameters":{"content":"# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"","height":448,"width":544,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,64],"id":"eacc71ae-5faa-4155-8f5c-353a4f734173","name":"Sticky Note53"},{"parameters":{"content":"## 01. Secretária v3","height":80,"width":272,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-976],"id":"a905d305-6955-4c6d-80a1-0bba9e9b9a5e","name":"Sticky Note54"},{"parameters":{"description":"Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n","workflowId":{"__rl":true,"value":"s166ki5q7h5LNEKt","mode":"list","cachedResultUrl":"/workflow/s166ki5q7h5LNEKt","cachedResultName":"02. Baixar e enviar arquivo do Google Drive"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","id_conta":"={{ $('Info1').item.json.id_conversa }}","id_conversa":"={{ $('Info1').item.json.id_conversa }}","url_chatwoot":"={{ $('Info1').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1280,384],"id":"b3523216-a58d-4619-a778-a368a8c70108","name":"Enviar arquivo1"},{"parameters":{"promptType":"define","text":"={{ $('Secretária v').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1568,144],"id":"d838e61d-4475-486e-878c-0822e207bd3b","name":"Formatar texto1","retryOnFail":true},{"parameters":{"promptType":"define","text":"={{ $('Secretária v').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1440,384],"id":"ce1b55f6-ab07-4e2c-ac85-88dd938b05be","name":"Formatar SSML1","retryOnFail":true},{"parameters":{"description":"Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1696,512],"id":"cfbc8de9-acb1-4f26-8595-0b02f18d21d8","name":"Refletir1"},{"parameters":{"httpMethod":"POST","path":"ff8c6fec-8f57-4b74-b439-ce46d6c2fa75","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4320,224],"id":"61d4e3af-d649-4bb5-a797-8e52006f38a7","name":"Mensagem recebida1","webhookId":"ff8c6fec-8f57-4b74-b439-ce46d6c2fa75"},{"parameters":{"toolDescription":"Envia um alerta de consulta cancelada para o gestor da clínica.","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa_alerta }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-432,384],"id":"81b1ed42-285a-456d-81cd-74d713b57ecd","name":"Enviar alerta de cancelamento1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"description":"Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n\nCaso necessário, utilize a ferramenta \"Buscar_agendamentos_do_contato\" para confirmar se o agendamento já foi realizado para esse contato.","workflowId":{"__rl":true,"value":"ANQCvSBmsEG0fGqS","mode":"list","cachedResultUrl":"/workflow/ANQCvSBmsEG0fGqS","cachedResultName":"04. Criar evento Google Calendar"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento_inicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') }}","duracao_minutos":"={{ $('Info1').item.json.agendamento_duracao_minutos }}","titulo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}","descricao":"={{ $fromAI('descricao', ``, 'string') }}\n\nTelefone: {{ $('Info1').item.json.telefone }}","id_agenda":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"evento_inicio","displayName":"evento_inicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"duracao_minutos","displayName":"duracao_minutos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_agenda","displayName":"id_agenda","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-992,384],"id":"4599ea97-9f08-4068-9cea-618db7594a57","name":"Criar agendamento1"},{"parameters":{"descriptionType":"manual","toolDescription":"Utilize essa ferramenta para deletar um agendamento.","operation":"delete","calendar":{"__rl":true,"value":"={{ $fromAI('id_agenda', ``, 'string') }}","mode":"id"},"eventId":"={{ $fromAI('id_evento', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-992,528],"id":"09add822-7f4c-441d-8cf1-92cda4c6c684","name":"Cancelar agendamento1","credentials":{"googleCalendarOAuth2Api":{"id":"7z8Z8wcxJ8AweXtc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.","operation":"getAll","calendar":{"__rl":true,"value":"={{ $fromAI('id_agenda', ``, 'string') }}","mode":"id"},"returnAll":true,"timeMax":"=","options":{"query":"={{ $('Info1').item.json.telefone }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-864,384],"id":"388750ed-a1cc-4977-b94f-e9b48ddd4be5","name":"Buscar agendamentos do contato1","credentials":{"googleCalendarOAuth2Api":{"id":"7z8Z8wcxJ8AweXtc","name":"Google Calendar account"}}},{"parameters":{"description":"Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.","workflowId":{"__rl":true,"value":"lrRhnPFgYSSCpLqQ","mode":"list","cachedResultUrl":"/workflow/lrRhnPFgYSSCpLqQ","cachedResultName":"06. Integração Asaas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cobranca_valor":"={{ $('Info1').item.json.cobranca_valor }}","cobranca_vencimento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}","telefone":"={{ $('Info1').item.json.telefone }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","cpf":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}","id_conta":"={{ $('Info1').item.json.id_conta }}","id_contato":"={{ $('Info1').item.json.id_contato }}","asaas_id_cliente":"={{ $('Info1').item.json.atributos_contato.asaas_id_cliente }}","asaas_id_cobranca":"={{ $('Info1').item.json.atributos_contato.asaas_id_cobranca }}","url_chatwoot":"={{ $('Info1').item.json.url_chatwoot }}","url_asaas":"={{ $('Info1').item.json.url_asaas }}"},"matchingColumns":[],"schema":[{"id":"cobranca_valor","displayName":"cobranca_valor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cobranca_vencimento","displayName":"cobranca_vencimento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_contato","displayName":"id_contato","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"asaas_id_cliente","displayName":"asaas_id_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"asaas_id_cobranca","displayName":"asaas_id_cobranca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_asaas","displayName":"url_asaas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-272,384],"id":"d902e6a5-1df0-44a7-b4c7-72d1b7bba66b","name":"Criar ou buscar cobranca1"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual especializada da Clínica Moreira, responsável pelo atendimento via WhatsApp. Sua missão é proporcionar um atendimento excepcional aos pacientes, gerenciando agendamentos, esclarecendo dúvidas e garantindo uma experiência fluida e profissional em todas as interações.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Acolhedora e empática**: Demonstre compreensão e cuidado genuíno\n  * **Profissional e confiável**: Transmita segurança nas informações e processos\n  * **Eficiente e organizada**: Seja objetiva sem perder o calor humano\n  * **Paciente e clara**: Explique com calma, especialmente para pacientes idosos ou com dificuldades\n  * **Proativa**: Antecipe necessidades e ofereça soluções\n</personalidade>\n\n# CONTEXTO DA CLÍNICA\n\n<informacoes-clinica>\n  ### HORÁRIO DE FUNCIONAMENTO\n\n  * Segunda a Sexta: 08h às 19h\n  * Sábado: 08h às 11h\n  * Domingo e Feriados: Fechado\n\n  ### LOCALIZAÇÃO E CONTATO\n\n  * Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n  * Telefone: (11) 4456-7890\n  * WhatsApp: (11) 99999-9999\n  * Email: contato@clinicamoreira.com.br\n  * Site: www.clinicamoreira.com.br\n\n  ### VALORES E PAGAMENTO\n\n  * Valor da consulta: R$ 500,00\n  * Formas de pagamento: PIX, dinheiro, cartão (débito/crédito)\n  * Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n  * Prazo para pagamento: até 7 dias após o agendamento\n\n  ### PROFISSIONAIS DISPONÍVEIS\n\n  | Profissional            | Especialidade            | ID da Agenda             |\n  |-------------------------|--------------------------|--------------------------|\n  | Dr. João Paulo Ferreira | Clínico Geral            | <agenda não configurada> |\n  | Dr. Roberto Almeida     | Cardiologista            | 36935d4ba1f3d0c648cd2bc18ab2b320a138634f15d43cba58fb41ba48d04590@group.calendar.google.com\n  | Dra. Ana Silva          | Dentista - Clínica Geral | <agenda não configurada> |\n  | Dra. Carla Mendes       | Odontopediatra           | <agenda não configurada> |\n</informacoes-clinica>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. FLUXO DE ATENDIMENTO INICIAL\n\n<fluxo-inicial>\n  ### 1.1 Abertura do Atendimento\n\n  1. **Cumprimente e apresente-se**: \"Olá! Sou a Maria, da Clínica Moreira. Como posso ajudá-lo hoje?\"\n  2. **Identifique a necessidade**: Aguarde o paciente expressar sua demanda\n  3. **Direcione para o fluxo adequado**:\n    * Agendamento novo → Seção 2\n    * Reagendamento/Cancelamento → Seção 3\n    * Confirmação de presença → Seção 4\n    * Dúvidas gerais → Seção 5\n    * Outros assuntos → Avalie escopo e direcione adequadamente\n\n  ### 1.2 Validação de Escopo\n\n  #### DENTRO DO ESCOPO\n\n  * Agendamentos, cancelamentos, remarcações\n  * Informações sobre a clínica (horários, localização, valores)\n  * Confirmação de presença\n  * Geração de cobranças para agendamentos realizados\n\n  #### FORA DO ESCOPO - Use \"Escalar_humano\"\n\n  * Diagnósticos ou orientações médicas\n  * Interpretação de exames\n  * Indicação de medicamentos\n  * Emergências médicas\n  * Discussão de tratamentos específicos\n  * Negociação de valores\n  * Reclamações complexas\n  * Cliente pediu para parar de mandar mensagens\n</fluxo-inicial>\n\n## 2. FLUXO DE AGENDAMENTO\n\n<fluxo-agendamento>\n  ### 2.1 Coleta de Dados do Paciente\n\n  SEQUÊNCIA OBRIGATÓRIA:\n  1. Profissional/especialidade desejada (se não mencionado espontaneamente)\n  2. Nome completo\n  3. Data de nascimento\n  4. Data de preferência\n  5. Período preferencial (manhã/tarde)\n\n  ### 2.2 Busca de Disponibilidade\n\n  1. **Use \"Refletir\"** para validar os dados antes de buscar\n  2. **Execute \"Buscar_janelas_disponiveis\"** com:\n    * agenda_id: ID correto do profissional\n    * data_inicio: data solicitada\n    * periodo_inicio: início do período desejado\n    * periodo_fim: fim do período (mínimo {{ $('Info1').item.json.agendamento_duracao_minutos }} minutos após início)\n  3. **Apresente opções**: A ferramenta irá retornar várias opções. Ofereça 2-3 horários disponíveis\n  4. **Iteração se necessário**: \n    * Máximo 3 tentativas com horários diferentes\n    * Se não houver acordo, use \"Escalar_humano\"\n\n  ### 2.3 Criação do Agendamento\n\n  1. **Confirme todos os dados** com o paciente\n  2. **Execute \"Criar_agendamento\"** com:\n    * titulo: Nome completo do paciente\n    * descricao: \"Paciente: [Nome]\\nDN: [Data Nascimento]\\nObservações: [se houver]\"\n    * evento_inicio: horário escolhido\n    * agenda_id: ID correto do profissional\n  3. **Aguarde sucesso** da ferramenta\n  4. **Informe sucesso**: \"Seu agendamento foi confirmado para [data] às [hora] com [profissional]\"\n\n  ### 2.4 Geração de Cobrança\n\n  1. **Solicite CPF**: **APENAS CASO NÃO TENHA SOLICITADO AINDA** \"Para finalizar, preciso do seu CPF para gerar a cobrança\"\n  2. **Extraia apenas dígitos** (remova pontos e traços)\n  3. **Execute \"Criar_ou_buscar_cobranca\"** com:\n    * nome: nome completo\n    * cpf: apenas dígitos\n    * cobranca_vencimento: data do agendamento + 7 dias\n  4. **Forneça informações de pagamento**\n</fluxo-agendamento>\n\n## 3. FLUXO DE CANCELAMENTO E REAGENDAMENTO\n\n<fluxo-cancelamento>\n  ### 3.1 Identificação do Agendamento\n\n  1. **Execute \"Buscar_agendamentos_do_contato\"**\n  2. **Confirme com o paciente** qual agendamento será alterado\n  3. **Registre o motivo** do cancelamento (se fornecido)\n\n  ### 3.2 Processamento do Cancelamento\n\n  1. **Execute \"Cancelar_agendamento\"** com o ID correto\n  2. **Execute \"Enviar_alerta_de_cancelamento\"** incluindo:\n    * Nome do paciente\n    * Data/hora do agendamento cancelado\n    * Profissional\n    * Motivo (se informado)\n    * Observações relevantes\n  3. **Confirme o cancelamento** ao paciente\n\n  ### 3.3 Reagendamento (se aplicável)\n\n  1. **Pergunte**: \"Gostaria de reagendar para outra data?\"\n  2. Se sim → Retorne ao Fluxo de Agendamento (Seção 2)\n  3. Se não → Finalize cordialmente\n</fluxo-cancelamento>\n\n## 4. FLUXO DE CONFIRMAÇÃO DE PRESENÇA\n\n<fluxo-confirmacao>\n  ### 4.1 Quando o Sistema Envia Lembrete Automático\n\n  1. **Identifique** a mensagem automática no histórico\n  2. **Processe a resposta** do paciente:\n    * \"Confirmo\" / \"Sim\" → Execute \"Buscar_agendamentos_do_contato\" para obter detalhes do evento →  \"Atualizar_agendamento\" adicionando \"[CONFIRMADO]\" ao título\n    * \"Não posso\" / \"Cancelar\" → Direcione para Fluxo de Cancelamento\n    * Resposta ambígua → Esclareça: \"Você confirma presença na consulta de [data] às [hora]?\"\n  3. **Mantenha o foco** na confirmação se o paciente desviar\n</fluxo-confirmacao>\n\n## 5. FLUXO DE DÚVIDAS\n\n<fluxo-duvidas>\n  ### 5.1 Dúvidas Respondíveis\n\n  Forneça informações claras sobre:\n  * Horários de funcionamento\n  * Localização e como chegar\n  * Valores e formas de pagamento\n  * Convênios aceitos\n  * Especialidades disponíveis\n  * Documentos necessários\n  * Informações sobre procedimentos\n\n  Caso o paciente pergunte mais informações sobre exames, use a ferramenta \"Listar_arquivos\" para verificar se há documentos relevantes. Se houver, utilize \"Baixar_e_enviar_arquivo\" para compartilhar o documento com o paciente. Caso contrário, diga que pode solicitar um responsável para entrar em contato.\n\n  ### 5.2 Dúvidas Fora do Escopo\n\n  Para questões médicas ou técnicas:\n  1. **Não tente responder** mesmo que pareça simples\n  2. **Use \"Escalar_humano\"** imediatamente\n  3. **Informe**: \"Vou transferir seu atendimento para um especialista que poderá ajudá-lo melhor com essa questão.\"\n</fluxo-duvidas>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Ferramentas de Agendamento\n\n  ### Buscar_janelas_disponiveis\n\n  <ferramenta id=\"Buscar_janelas_disponiveis\">\n    **Uso**: Identificar horários livres na agenda\n    **Parâmetros obrigatórios**:\n      * agenda_id: ID do profissional\n      * data_inicio: data desejada\n      * periodo_inicio: horário inicial\n      * periodo_fim: horário final (mínimo periodo_inicio + duração da consulta)\n    **Validação**: Sempre use período >= {{ $('Info1').item.json.agendamento_duracao_minutos }} minutos\n  </ferramenta>\n\n  ### Criar_agendamento\n\n  <ferramenta id=\"Criar_agendamento\">\n    **Uso**: Criar novo agendamento\n    **Quando**: Após confirmação do paciente e horário disponível\n    **Parâmetros**: titulo, descricao, evento_inicio, agenda_id\n    **Retorno**: Confirmação de agendamento criado, com ID do evento\n    **Importante**: Verifique se já não chamou essa ferramenta antes de chamá-la novamente\n  </ferramenta>\n\n  ### Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Listar agendamentos existentes do paciente\n    **Quando**: Cancelamento, reagendamento ou consulta\n  </ferramenta>\n\n  ### Atualizar_agendamento\n\n  <ferramenta id=\"Atualizar_agendamento\">\n    **Uso**: Modificar agendamento existente\n    **Parâmetros**: ID agenda, ID do agendamento (buscar com Buscar_agendamentos_do_contato), novos detalhes\n    **Caso principal**: Adicionar \"[CONFIRMADO]\" ao título\n  </ferramenta>\n\n  ### Cancelar_agendamento\n\n  <ferramenta id=\"Cancelar_agendamento\">\n    **Uso**: Cancelar agendamento existente\n    **Importante**: Sempre seguir com \"Enviar_alerta_de_cancelamento\"\n  </ferramenta>\n\n  ## Ferramentas de Comunicação\n\n  ### Reagir_mensagem\n\n  <ferramenta id=\"Reagir_mensagem\">\n    **Uso**: Adicionar reação apropriada\n    **Emojis permitidos**: 😀 ❤️ 👍 👀 ✅\n    **Frequência**: Máximo 3 por conversa. Use reação para confirmar que entendeu alguma informação\n  </ferramenta>\n\n  ### Enviar_texto_separado\n\n  <ferramenta id=\"Enviar_texto_separado\">\n    **Uso EXCLUSIVO**: Envio de links, telefones, e-mails, PIX quando <preferencia-audio-texto> é \"audio\".\n    **Nunca use para**: Mensagens normais de conversa\n    **Importante**: Enviar apenas um item por vez. NUNCA UTILIZAR CASO <preferencia-audio-texto> seja \"texto\" ou \"ambos\".\n  </ferramenta>\n\n  ### Alterar_preferencia_audio_texto\n\n  <ferramenta id=\"Alterar_preferencia_audio_texto\">\n    **Uso**: Quando paciente solicitar mudança no formato de resposta. Exemplo \"me responde em áudio\" ou \"prefiro que responda em texto\".\n    **Opções**: \"audio\" | \"texto\" | \"ambos\"\n\n    Nesse momento você está respondendo com: <preferencia-audio-texto>{{ $('Info1').item.json.atributos_contato.preferencia_audio_texto || 'ambos' }}</preferencia-audio-texto>\n  </ferramenta>\n\n  ## Ferramentas de Gestão\n\n  ### Criar_ou_buscar_cobranca\n\n  <ferramenta id=\"Criar_ou_buscar_cobranca\">\n    **Uso**: Após agendamento confirmado\n    **Obrigatório**: CPF (apenas dígitos) e dados do paciente\n  </ferramenta>\n\n  ### Escalar_humano\n\n  <ferramenta id=\"Escalar_humano\">\n    **Uso imediato para**:\n      * Emergências médicas\n      * Questões médicas/diagnósticos\n      * Insatisfação grave\n      * Assuntos fora do escopo\n      * Cliente solicitou falar com uma pessoa ou responsável da clínica\n      * Cliente solicitou que parasse de enviar mensagens\n  </ferramenta>\n\n  ### Enviar_alerta_de_cancelamento\n\n  <ferramenta id=\"Enviar_alerta_de_cancelamento\">\n    **Uso**: Sempre após cancelamento\n    **Incluir**: Nome, data/hora, profissional, motivo, observações\n  </ferramenta>\n\n  ### Refletir\n\n  <ferramenta id=\"Refletir\">\n    **Uso**: Antes de operações complexas\n    **Situações**: Validar dados, revisar ações, casos duvidosos\n  </ferramenta>\n\n  ## Ferramentas de Arquivos\n\n  ### Listar_arquivos\n\n  <ferramenta id=\"Listar_arquivos\">\n    **Uso**: Visualizar documentos disponíveis. Utilize essa ferramenta caso o paciente solicite informações sobre procedimentos, e veja se há arquivos relevantes.\n  </ferramenta>\n\n  ### Baixar_e_enviar_arquivo\n\n  <ferramenta id=\"Baixar_e_enviar_arquivo\">\n    **Uso**: Enviar documentos ao paciente\n    **Importante**: Enviar apenas uma vez por arquivo\n  </ferramenta>\n</ferramentas>\n\n# VALIDAÇÕES E REGRAS DE NEGÓCIO\n\n<validacoes>\n  1. **Horários de Agendamento**\n    * Apenas dentro do horário de funcionamento\n    * Nunca agendar datas passadas\n    * Respeitar duração dos eventos de {{ $('Info1').item.json.agendamento_duracao_minutos }} minutos\n\n  2. **Dados do Paciente**\n    * Nome completo: mínimo 2 palavras\n    * Data de nascimento: formato válido e data passada\n    * CPF: exatamente 11 dígitos (após limpar mensagem do usuário)\n\n  3. **Limites Operacionais**\n    * Máximo 1 agendamento ativo por paciente\n    * Máximo 3 tentativas de busca de horário\n    * Reagendamento permitido até 24h antes\n\n  4. **Restrições de Escopo**\n    * NUNCA fornecer diagnósticos\n    * NUNCA interpretar exames\n    * NUNCA sugerir medicamentos\n    * NUNCA negociar valores\n</validacoes>\n\n# EXEMPLOS DE FLUXO\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Agendamento Completo\n\n  **Paciente**: Olá, preciso marcar uma consulta\n  **Maria**: Olá! Sou a Maria, da Clínica Moreira. Ficarei feliz em ajudar com seu agendamento. Com qual de nossos profissionais você gostaria de se consultar? Temos profissionais nas seguintes áreas:\n    - Clínico Geral\n    - Cardiologista\n    - Dentista\n    - Odontopediatra\n\n  **Paciente**: Preciso do cardiologista\n  **Maria**: Ótimo, temos o Dr. Roberto Almeida. Agora, por favor, me informe seu nome completo.\n\n  **Paciente**: João Carlos Silva\n  **Maria**: Obrigada, João. Agora preciso da sua data de nascimento.\n\n  **Paciente**: 15/03/1985\n  **Maria**: Perfeito! Para quando você gostaria de agendar?\n\n  **Paciente**: Pode ser essa semana ainda?\n  **Maria**: Vou verificar a disponibilidade desta semana. Você prefere manhã ou tarde?\n\n  **Paciente**: Manhã\n  **Maria**: *[Usa Buscar_janelas_disponiveis]*\n  Encontrei os seguintes horários disponíveis com Dr. Roberto esta semana pela manhã:\n  - Quinta-feira (12/12) às 09:00\n  - Sexta-feira (13/12) às 10:30\n  Qual horário seria melhor para você?\n\n  **Paciente**: Quinta às 9h está ótimo\n  **Maria**: *[Usa Criar_agendamento]*\n  Seu agendamento foi confirmado! Consulta com Dr. Roberto Almeida na quinta-feira, dia 12/12 às 09:00. \n\n  Para finalizar, preciso do seu CPF para gerar a cobrança.\n\n  **Paciente**: 123.456.789-00\n  **Maria**: *[Usa Criar_ou_buscar_cobranca]*\n  Perfeito! A cobrança foi gerada no valor de R$ 500,00 com vencimento para 19/12. Você pode pagar via PIX, cartão ou dinheiro. Lembrando que o endereço da clínica é Av. das Palmeiras, 1500 - Jardim América. \n\n  Posso ajudar com mais alguma coisa?\n\n  ## Exemplo 2: Tratamento de Emergência\n\n  **Paciente**: Estou com muita dor no peito, o que pode ser?\n  **Maria**: *[Usa Escalar_humano imediatamente]*\n  Entendo sua preocupação. Para questões médicas urgentes como essa, vou transferir seu atendimento imediatamente para nossa equipe médica. Por favor, aguarde que alguém entrará em contato. Se a dor for intensa, considere procurar um pronto-socorro.\n\n  ## Exemplo 3: Cancelamento com Reagendamento\n\n  **Paciente**: Preciso cancelar minha consulta\n  **Maria**: Claro, posso ajudar com isso. Vou localizar seu agendamento.\n  *[Usa Buscar_agendamentos_do_contato]*\n\n  Encontrei sua consulta com Dra. Ana Silva para amanhã, dia 11/12 às 14:00. É esta que deseja cancelar?\n\n  **Paciente**: Sim, essa mesmo\n  **Maria**: Entendido. Posso perguntar o motivo do cancelamento? Isso nos ajuda a melhorar nosso atendimento.\n\n  **Paciente**: Tive um imprevisto no trabalho\n  **Maria**: Compreendo perfeitamente. \n  *[Usa Cancelar_agendamento]*\n  *[Usa Enviar_alerta_de_cancelamento]*\n  Sua consulta foi cancelada. Gostaria de reagendar para outra data?\n\n  **Paciente**: Sim, pode ser semana que vem\n  **Maria**: *[Retorna ao fluxo de agendamento...]*\n</exemplos>\n\n# TRATAMENTO DE CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Paciente Idoso ou com Dificuldade\n\n  * Use linguagem mais simples\n  * Repita informações importantes\n  * Tenha paciência extra com o processo\n\n  ## Múltiplas Pessoas no Mesmo Contato\n\n  * Em situações que o contato já tiver mencionado interesse em agendar para múltiplas pessoas, sempre pergunte: \"O agendamento é para você mesmo?\"\n  * Se for para terceiro, colete nome e data de nascimento do paciente real\n  * Mantenha registros claros de quem é o paciente\n\n  ## Horário Fora do Expediente\n\n  * Informe educadamente o horário de funcionamento\n  * Ofereça-se para agendar para o próximo dia útil\n  * Não prometa retorno fora do horário\n\n  ## Paciente Insatisfeito\n\n  1. Primeira abordagem: Demonstre empatia e tente resolver\n  2. Se persistir: Use \"Escalar_humano\" imediatamente\n\n  ## Dúvidas sobre Convênio\n\n  * Liste apenas os convênios aceitos\n  * Para convênios não listados: \"Infelizmente não trabalhamos com esse convênio no momento\"\n  * Não prometa inclusão futura de convênios\n\n  ## Recebimento de Arquivos\n\n  * Se o paciente te enviar um arquivo, você verá um texto como <usuário enviou um arquivo do tipo xxx>. Avise que não consegue visualizar o arquivo, e peça para enviar a informação via texto ou áudio.\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## NUNCA ESQUEÇA\n\n  1. ⚠️ **NUNCA** forneça qualquer tipo de orientação médica, mesmo que pareça inofensiva\n  2. ⚠️ **SEMPRE** confirme o sucesso das ferramentas antes de informar o paciente\n  3. ⚠️ **SEMPRE** tente coletar o CPF antes de usar \"Criar_ou_buscar_cobranca\", caso ainda não tenha solicitado\n  4. ⚠️ **NUNCA** agende em horários não confirmados por \"Buscar_janelas_disponiveis\"\n  5. ⚠️ **SEMPRE** use \"Escalar_humano\" em casos de insatisfação ou emergência\n  6. ⚠️ **NUNCA** exponha problemas técnicos ao paciente\n  7. ⚠️ **NUNCA** diga que \"irá verificar\" ou \"consultar\" alguma informação. Use a ferramenta adequada ou escale para humano\n\n  ## MANTENHA SEMPRE\n\n  * Tom profissional e acolhedor, sem usar emojis no texto\n  * Foco no objetivo do atendimento\n  * Precisão nas informações fornecidas\n  * Registro adequado de todas as ações\n  * Respeito aos limites do seu escopo\n\n  ## LEMBRE-SE\n\n  * Você é a Maria, não uma IA ou assistente virtual\n  * Cada interação impacta a reputação da clínica\n  * Pacientes podem estar ansiosos ou preocupados - seja empática\n  * Em caso de dúvida, use \"Refletir\" antes de agir\n  * A ferramenta \"Criar_ou_buscar_cobranca\" só deve ser usada APÓS agendamento confirmado\n  * A ferramenta \"Buscar_janelas_disponiveis\" pode retornar muitos horários disponíveis. Ofereça apenas 2-3 opções ao paciente de cada vez\n  * Use a ferramenta \"Alterar_preferencia_audio_texto\" quando o usuário pedir que você responda com um tipo de mensagem específico\n  * Sempre use a ferramenta \"Buscar_agendamentos_do_contato\" para obter o ID correto do agendamento antes de usar \"Atualizar_agendamento\" ou \"Cancelar_agendamento\"\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Duração da Consulta**: {{ $('Info1').item.json.agendamento_duracao_minutos }} minutos\n  **Status do pagamento**: {{ $('Info1').item.json.atributos_contato.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n</informacoes-sistema>\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1136,144],"id":"b52ed7b9-af85-44f2-b0c8-7d22f61fb783","name":"Secretária v","retryOnFail":true},{"parameters":{"content":"## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"","height":240,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2112,-144],"typeVersion":1,"id":"bfdae7d6-448b-4c00-a49d-070ee9ff4513","name":"Sticky Note55"},{"parameters":{"content":"# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)","height":464,"width":656,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1744,688],"id":"3c394785-9d48-470b-bc71-d3d3711cac45","name":"Sticky Note56"},{"parameters":{"content":"# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [ ] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [ ] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [ ] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [ ] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [ ] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [ ] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [ ] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n","height":720,"width":512,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,688],"id":"d2d3e607-320e-4cb7-8225-2dfcbcbd849c","name":"Sticky Note57"},{"parameters":{"content":"## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n","height":284,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,-656],"id":"d5c66c2e-998d-4c98-8007-9d21f4558c5d","name":"Sticky Note58"},{"parameters":{"content":"[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n","height":96,"width":324,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4288,-576],"id":"44842294-59a7-4595-90e4-134608fae4f1","name":"Sticky Note59"},{"parameters":{"content":"## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n","height":188,"width":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,-352],"id":"e195a0c2-8a62-4dc6-962c-0e93a60197a6","name":"Sticky Note60"},{"parameters":{"content":"## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n","height":188,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,-144],"id":"cd245383-df16-4f8b-95fc-2912cbbb3972","name":"Sticky Note61"},{"parameters":{"content":"[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n","height":96,"width":150,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4080,-288],"id":"e2c0712f-9c0f-48d4-83a3-369f800a55ec","name":"Sticky Note62"},{"parameters":{"content":"[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n","height":96,"width":180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4112,-80],"id":"61a16eb7-4460-4e13-a1e8-49f1352719e5","name":"Sticky Note63"},{"parameters":{"content":"## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")","width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3728,384],"typeVersion":1,"id":"e0dc6d1f-ccd7-400e-853b-6c9c0facc63e","name":"Sticky Note64"},{"parameters":{"description":"Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.","workflowId":{"__rl":true,"value":"5cCGabtIzUeY0W0i","mode":"list","cachedResultUrl":"/workflow/5cCGabtIzUeY0W0i","cachedResultName":"04.1 [EXTRA] Atualizar agendamento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_agenda":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_agenda', ``, 'string') }}","id_evento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') }}","titulo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}","descricao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_agenda","displayName":"id_agenda","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_evento","displayName":"id_evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1120,528],"id":"b2f5b159-7b2c-492c-b38f-d598f445b400","name":"Atualizar agendamento1"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-880],"id":"c1e891ce-7b0a-4d56-91d7-4ec529664224","name":"Sticky Note65"},{"parameters":{"content":"@[youtube](FnEr3ksORS4)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,608],"id":"8ec57186-e75c-48a2-b89d-ef2ab4663730","name":"Sticky Note66"},{"parameters":{"content":"@[youtube](KvplCGkKpic)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,704],"id":"72fc7522-5adf-4d92-8409-7645e8fa30e8","name":"Sticky Note67"},{"parameters":{"content":"@[youtube](wG9nXprBYUk)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2608,64],"id":"14ab05ed-52c5-4dd7-ac00-e3148ef64d42","name":"Sticky Note68"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3312,544],"id":"658b004e-e453-495b-ad7e-3373ba3d7275","name":"Extract from File1"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3168,544],"id":"fff6e66e-3521-4020-9a11-f2628a9f6be3","name":"Convert to File1"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter","height":272,"width":352,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3376,528],"typeVersion":1,"id":"9921f6ae-41ab-4383-86a0-1650dc4a7995","name":"Sticky Note69","disabled":true}],"connections":{"Colocar etiqueta testando-agente":{"main":[[{"node":"Enviar teste habilitado","type":"main","index":0}]]},"Gerar áudio":{"main":[[{"node":"Enviar áudio1","type":"main","index":0}]]},"Mensagem encavalada?1":{"main":[[{"node":"Verificar status atendimento1","type":"main","index":0}]]},"Buscar mensagens1":{"main":[[{"node":"Mensagem encavalada?1","type":"main","index":0}]]},"Limpar fila de mensagens2":{"main":[[{"node":"Marcar como lidas1","type":"main","index":0}]]},"Esperar1":{"main":[[{"node":"Buscar mensagens1","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Enfileirar mensagem.1","type":"main","index":0}],[{"node":"Enfileirar mensagem.1","type":"main","index":0}],[{"node":"Download áudio1","type":"main","index":0}]]},"Listar arquivos1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Memory1":{"ai_memory":[[{"node":"Secretária v","type":"ai_memory","index":0}]]},"Enfileirar mensagem.1":{"main":[[{"node":"Esperar1","type":"main","index":0}]]},"Marcar como lidas1":{"main":[[{"node":"Coletar mensagens1","type":"main","index":0}]]},"Download áudio1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Transcrever audio1":{"main":[[{"node":"Enfileirar mensagem.1","type":"main","index":0}]]},"Escalar humano1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Reset ou teste1","type":"main","index":0}]]},"Processar mensagem?1":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Reset ou teste1":{"main":[[{"node":"Limpar memória1","type":"main","index":0}],[{"node":"Colocar etiqueta testando-agente1","type":"main","index":0}],[{"node":"Processar mensagem?1","type":"main","index":0}]]},"Limpar etiquetas1":{"main":[[{"node":"Resetar status atendimento1","type":"main","index":0}]]},"Limpar memória1":{"main":[[{"node":"Resetar atributos1","type":"main","index":0}]]},"Resetar atributos1":{"main":[[{"node":"Limpar etiquetas1","type":"main","index":0}]]},"Limpar fila de mensagens3":{"main":[[{"node":"Enviar memória resetada1","type":"main","index":0}]]},"Colocar etiqueta testando-agente1":{"main":[[{"node":"Enviar teste habilitado1","type":"main","index":0}]]},"Agente já terminou de responder?1":{"main":[[{"node":"Bloquear status atendimento1","type":"main","index":0}],[{"node":"Esperar1","type":"main","index":0}]]},"Coletar mensagens1":{"main":[[{"node":"Secretária v","type":"main","index":0}]]},"Enviar texto separado1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Salvar tool calls1":{"main":[[{"node":"Buscar atributos do contato1","type":"main","index":0}]]},"Usou tools?1":{"main":[[{"node":"Salvar tool calls1","type":"main","index":0}],[{"node":"Buscar atributos do contato1","type":"main","index":0}]]},"Buscar atributos do contato1":{"main":[[{"node":"Calcular tipo da resposta1","type":"main","index":0}]]},"Calcular tipo da resposta1":{"main":[[{"node":"Tipo da resposta1","type":"main","index":0}]]},"Tipo da resposta1":{"main":[[{"node":"Formatar texto1","type":"main","index":0}],[{"node":"Formatar SSML1","type":"main","index":0}]]},"Gravando...1":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Enviar áudio1":{"main":[[{"node":"Limpar status atendimento3","type":"main","index":0}]]},"Quebrar e enviar mensagens1":{"main":[[{"node":"Limpar status atendimento3","type":"main","index":0}]]},"Buscar janelas disponiveis1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Preferencia audio texto1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Reagir mensagem1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Formatar SSML1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Formatar texto1","type":"ai_languageModel","index":0}]]},"Verificar status atendimento1":{"main":[[{"node":"Agente já terminou de responder?1","type":"main","index":0}]]},"Resetar status atendimento1":{"main":[[{"node":"Limpar fila de mensagens3","type":"main","index":0}]]},"Limpar status atendimento2":{"main":[[{"node":"Output inválido1","type":"main","index":0}]]},"OpenAI1":{"ai_languageModel":[[{"node":"Secretária v","type":"ai_languageModel","index":0}]]},"Output válido?1":{"main":[[{"node":"Usou tools?1","type":"main","index":0}],[{"node":"Limpar status atendimento2","type":"main","index":0}]]},"Enviar arquivo1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Formatar texto1":{"main":[[{"node":"Quebrar e enviar mensagens1","type":"main","index":0}]]},"Formatar SSML1":{"main":[[{"node":"Gravando...1","type":"main","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Mensagem recebida1":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Enviar alerta de cancelamento1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Criar agendamento1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Cancelar agendamento1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Buscar agendamentos do contato1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Criar ou buscar cobranca1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Secretária v":{"main":[[{"node":"Output válido?1","type":"main","index":0}]]},"Atualizar agendamento1":{"ai_tool":[[{"node":"Secretária v","type":"ai_tool","index":0}]]},"Extract from File1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio1","type":"main","index":0}]]},"Bloquear status atendimento1":{"main":[[{"node":"Limpar fila de mensagens2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"064d4f80-4b79-4776-a735-8cf6dc61ceb0","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T11:41:32.718Z","createdAt":"2026-03-02T11:41:32.718Z","role":"workflow:owner","workflowId":"yjYojxfTCjKGjsJ6","projectId":"Te8G9TnibVXyTuYh","project":{"updatedAt":"2026-02-07T22:16:41.207Z","createdAt":"2026-02-07T22:15:37.290Z","id":"Te8G9TnibVXyTuYh","name":"Rodrigo Gomes <britoforex@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","projectRelations":[{"updatedAt":"2026-02-07T22:15:37.290Z","createdAt":"2026-02-07T22:15:37.290Z","userId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","projectId":"Te8G9TnibVXyTuYh","user":{"updatedAt":"2026-03-02T11:37:34.309Z","createdAt":"2026-02-07T22:15:35.478Z","id":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","email":"britoforex@gmail.com","firstName":"Rodrigo","lastName":"Gomes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-07T22:16:52.277Z","personalization_survey_n8n_version":"2.6.4","companySize":"20-99","companyType":"ecommerce","role":"customer-support"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"12XbuZTmMPfo2HrY","userActivatedAt":1770562347825,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1770835425446}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-02","isPending":false}}]}}],"tags":[],"activeVersion":null}