atlas_workflow_modified.json
{
  "updatedAt": "2026-03-02T11:41:32.718Z",
  "createdAt": "2026-03-02T11:41:32.718Z",
  "id": "yjYojxfTCjKGjsJ6",
  "name": "Atlas",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        832
      ],
      "id": "c74040f3-ebf1-40de-9035-5a175d87ed30",
      "name": "Colocar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        832
      ],
      "id": "3a5dcb78-6a2c-4f1d-a4f7-ed7103e911e5",
      "name": "Enviar teste habilitado",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        752
      ],
      "typeVersion": 1,
      "id": "961b8b40-360b-4112-b089-02cfe14bf5e3",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 01. Secretária v3",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b46c83c2-5b39-422c-825b-4c35a55109f3",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        400
      ],
      "id": "7a563fff-4fff-4feb-8ce0-f6cae90481cb",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "@[youtube](FnEr3ksORS4)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        1584
      ],
      "id": "ed9503e7-5dd9-4b1c-9e1f-50a948d842aa",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info1').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        128
      ],
      "id": "90995282-e752-4b78-9014-27db1e4c5d8b",
      "name": "Mensagem encavalada?1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info1').item.json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2448,
        128
      ],
      "id": "c744b83b-abee-4319-b011-e11614df3d82",
      "name": "Buscar mensagens1",
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        336
      ],
      "id": "3c97b43a-d6ea-443c-9f84-4ca0e47a2aea",
      "name": "Limpar fila de mensagens2",
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 16,
        "path": "081c2ae2-687d-4d70-b215-9e54a0415e31"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2656,
        128
      ],
      "id": "71a63aa0-c5aa-4b1a-84a5-48a2ada83ae5",
      "name": "Esperar1",
      "webhookId": "081c2ae2-687d-4d70-b215-9e54a0415e31"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info1').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info1').item.json.info_arquivo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info1').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3408,
        208
      ],
      "id": "875e6608-8e12-4956-9def-47ca9efae27a",
      "name": "Tipo de mensagem1"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 472,
        "width": 548,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4912,
        -432
      ],
      "id": "afc06ed9-dd04-4ec2-8768-f2f0582b79d6",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n",
        "height": 368,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        1216
      ],
      "id": "5c0cdf9c-9e68-4c5e-8392-d4cf200b977c",
      "name": "Sticky Note39",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info1').item.json.telefone }}",
            "mensagem": "={{ $('Info1').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info1').item.json.info_arquivo ? `\\n${$('Info1').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info1').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info1').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2880,
        208
      ],
      "id": "d9b689ec-8e57-4cae-83b0-8e95bb63ca0e",
      "name": "Enfileirar mensagem.1",
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        144
      ],
      "id": "81650744-2d78-40dc-bb6a-0e492acc1431",
      "name": "Marcar como lidas1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida1').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        320
      ],
      "id": "8804a7d3-7bc4-4141-998b-1ddc19724ae0",
      "name": "Download áudio1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3056,
        320
      ],
      "id": "0465d0e5-42ac-42e3-ad22-e536c851a63f",
      "name": "Transcrever audio1",
      "credentials": {
        "openAiApi": {
          "id": "HhiJWtpNJJhxcLx6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        704
      ],
      "id": "ffd65e03-0dfb-4472-99a0-5b680da398ce",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        -32
      ],
      "id": "51ed76d0-ef6e-49cc-bf37-33efd2c1d02a",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 392,
        "width": 1204,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3584,
        -928
      ],
      "id": "581c607b-8806-4d72-a218-35a6d2518722",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://chatwood.rodrigobrito.cloud",
              "type": "string"
            },
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "value": "30",
              "type": "string"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "value": "500",
              "type": "string"
            },
            {
              "id": "9aa7c3ba-f1fa-4222-9b2e-824a2c743409",
              "name": "id_conversa_alerta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.sender.custom_attributes }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4096,
        224
      ],
      "id": "20f40d76-76b6-4877-9a95-1f243ae19e0f",
      "name": "Info1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3600,
        224
      ],
      "id": "1659c2e8-2137-4827-b9eb-d0d46aa12294",
      "name": "Processar mensagem?1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $json.mensagem.toLowerCase() }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3872,
        208
      ],
      "id": "959a87db-5d5a-48b1-8d13-6415032ac4ac",
      "name": "Reset ou teste1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Info1').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        -448
      ],
      "id": "f98627e7-0c2d-4de9-8c15-8cfd83024b6c",
      "name": "Limpar etiquetas1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória resetada."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2560,
        -448
      ],
      "id": "f8296607-78b6-47b4-b43f-34ee6053b035",
      "name": "Enviar memória resetada1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3504,
        -448
      ],
      "id": "8ac9a259-4e04-465f-926f-ba5825e1e975",
      "name": "Limpar memória1",
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/contacts/{{ $('Info1').item.json.id_contato }}/destroy_custom_attributes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3312,
        -448
      ],
      "id": "87478ed6-78d2-492c-9d34-fa458034482d",
      "name": "Resetar atributos1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2736,
        -448
      ],
      "id": "7980bbd9-b84e-47dc-82f8-f56a3181a5f0",
      "name": "Limpar fila de mensagens3",
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.etiquetas.append('testando-agente').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3504,
        -144
      ],
      "id": "15b4e736-8f50-41a0-b28f-89aa83881c4f",
      "name": "Colocar etiqueta testando-agente1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Modo de teste habilitado."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3312,
        -144
      ],
      "id": "308da63b-53cd-484a-a312-9d7615e7b911",
      "name": "Enviar teste habilitado1",
      "credentials": {
        "chatwootApi": {
          "id": "VIcktgIr9MjDltkK",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2336,
        336
      ],
      "id": "470e0e47-9d8b-4b8d-8eb9-50bd965e9029",
      "name": "Agente já terminou de responder?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?1').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        144
      ],
      "id": "bf816276-19bd-4182-b7ac-01bcd5522bed",
      "name": "Coletar mensagens1",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mg6tDNh4dYdxg2Pi",
          "mode": "list",
          "cachedResultUrl": "/workflow/mg6tDNh4dYdxg2Pi",
          "cachedResultName": "07. Quebrar e enviar mensagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.content }}",
            "id_conversa": "={{ $('Info1').item.json.id_conversa }}",
            "id_conta": "={{ $('Info1').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info1').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1968,
        144
      ],
      "id": "4260f4df-7679-4864-9f53-530c398ba6fc",
      "name": "Quebrar e enviar mensagens1"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4192,
        144
      ],
      "typeVersion": 1,
      "id": "07902a4b-d603-4f12-84d6-abe50bc516bb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2560,
        336
      ],
      "id": "f135860d-511d-4daa-8f17-5f1454111727",
      "name": "Verificar status atendimento1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info1').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true,
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2112,
        336
      ],
      "id": "7ec348a3-77fc-4869-8b5c-a0caaf0af41e",
      "name": "Bloquear status atendimento1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info1').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2928,
        -448
      ],
      "id": "a9d65187-d394-41e2-bd48-de6a7f161f1a",
      "name": "Resetar status atendimento1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info1').item.json.telefone }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2416,
        256
      ],
      "id": "3efa8149-51e5-4929-91b5-b938f4b23a51",
      "name": "Limpar status atendimento3",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "GmfPEbsh1jXg2kyt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3584,
        -528
      ],
      "typeVersion": 1,
      "id": "04ccc7aa-259d-434b-a8b1-59789d91854d",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3584,
        -224
      ],
      "typeVersion": 1,
      "id": "3389bd7f-5d7a-423e-8a89-1d6f41c62ad9",
      "name": "Sticky Note10",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1728,
        304
      ],
      "id": "5b009f30-f635-47b3-ab91-d0ae2756ceb8",
      "name": "Sticky Note43",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        304
      ],
      "id": "665b8aa3-3e44-4900-9d74-8d122d82ee8a",
      "name": "Sticky Note44",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        304
      ],
      "id": "0c871094-7d4c-49cc-9c78-25dc3669421e",
      "name": "Sticky Note45",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        304
      ],
      "id": "9e6fce9b-978b-4882-8973-4c8c40100d28",
      "name": "Sticky Note46",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        304
      ],
      "id": "fcbd4394-48cb-4dcc-87e4-ea5354742867",
      "name": "Sticky Note47",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4352,
        64
      ],
      "id": "4820e6c9-f626-497c-b529-dc8f4a4f2e12",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2736,
        64
      ],
      "typeVersion": 1,
      "id": "8681237f-3efc-4f25-b32f-40d0886cc360",
      "name": "Sticky Note49",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        64
      ],
      "typeVersion": 1,
      "id": "86b8a225-442b-47f7-ad33-787506e42725",
      "name": "Sticky Note50",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        64
      ],
      "id": "20d7e90c-2fd7-4283-9f5e-369b9aa8cfa4",
      "name": "Sticky Note51",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        64
      ],
      "typeVersion": 1,
      "id": "bbd71395-eb05-4d71-89da-3491628d5140",
      "name": "Sticky Note52",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"",
        "height": 448,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4912,
        64
      ],
      "id": "eacc71ae-5faa-4155-8f5c-353a4f734173",
      "name": "Sticky Note53"
    },
    {
      "parameters": {
        "content": "## 01. Secretária v3",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4912,
        -976
      ],
      "id": "a905d305-6955-4c6d-80a1-0bba9e9b9a5e",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff8c6fec-8f57-4b74-b439-ce46d6c2fa75",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4320,
        224
      ],
      "id": "61d4e3af-d649-4bb5-a797-8e52006f38a7",
      "name": "Mensagem recebida1",
      "webhookId": "ff8c6fec-8f57-4b74-b439-ce46d6c2fa75"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        -144
      ],
      "typeVersion": 1,
      "id": "bfdae7d6-448b-4c00-a49d-070ee9ff4513",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        688
      ],
      "id": "3c394785-9d48-470b-bc71-d3d3711cac45",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [ ] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [ ] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [ ] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [ ] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [ ] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [ ] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [ ] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n",
        "height": 720,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        688
      ],
      "id": "d2d3e607-320e-4cb7-8225-2dfcbcbd849c",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 284,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4352,
        -656
      ],
      "id": "d5c66c2e-998d-4c98-8007-9d21f4558c5d",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4288,
        -576
      ],
      "id": "44842294-59a7-4595-90e4-134608fae4f1",
      "name": "Sticky Note59"
    },
    {
      "parameters": {
        "content": "## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4352,
        -352
      ],
      "id": "e195a0c2-8a62-4dc6-962c-0e93a60197a6",
      "name": "Sticky Note60"
    },
    {
      "parameters": {
        "content": "## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n",
        "height": 188,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4352,
        -144
      ],
      "id": "cd245383-df16-4f8b-95fc-2912cbbb3972",
      "name": "Sticky Note61"
    },
    {
      "parameters": {
        "content": "[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4080,
        -288
      ],
      "id": "e2c0712f-9c0f-48d4-83a3-369f800a55ec",
      "name": "Sticky Note62"
    },
    {
      "parameters": {
        "content": "[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n",
        "height": 96,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4112,
        -80
      ],
      "id": "61a16eb7-4460-4e13-a1e8-49f1352719e5",
      "name": "Sticky Note63"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3728,
        384
      ],
      "typeVersion": 1,
      "id": "e0dc6d1f-ccd7-400e-853b-6c9c0facc63e",
      "name": "Sticky Note64"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4912,
        -880
      ],
      "id": "c1e891ce-7b0a-4d56-91d7-4ec529664224",
      "name": "Sticky Note65"
    },
    {
      "parameters": {
        "content": "@[youtube](FnEr3ksORS4)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2736,
        608
      ],
      "id": "8ec57186-e75c-48a2-b89d-ef2ab4663730",
      "name": "Sticky Note66"
    },
    {
      "parameters": {
        "content": "@[youtube](KvplCGkKpic)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        704
      ],
      "id": "72fc7522-5adf-4d92-8409-7645e8fa30e8",
      "name": "Sticky Note67"
    },
    {
      "parameters": {
        "content": "@[youtube](wG9nXprBYUk)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2608,
        64
      ],
      "id": "14ab05ed-52c5-4dd7-ac00-e3148ef64d42",
      "name": "Sticky Note68"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3312,
        544
      ],
      "id": "658b004e-e453-495b-ad7e-3373ba3d7275",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3168,
        544
      ],
      "id": "fff6e66e-3521-4020-9a11-f2628a9f6be3",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3376,
        528
      ],
      "typeVersion": 1,
      "id": "9921f6ae-41ab-4383-86a0-1650dc4a7995",
      "name": "Sticky Note69",
      "disabled": true
    },
    {
      "id": "c0de1473-2b84-4838-a736-e33e352722e1",
      "name": "ATLAS Agno API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        144
      ],
      "parameters": {
        "method": "POST",
        "url": "https://atlas-m3wb.onrender.com/agents/atlas/runs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ .mensagem }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Info1').item.json.telefone }}"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?1": {
      "main": [
        [
          {
            "node": "Verificar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens1": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens2": {
      "main": [
        [
          {
            "node": "Marcar como lidas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar1": {
      "main": [
        [
          {
            "node": "Buscar mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem1": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.1": {
      "main": [
        [
          {
            "node": "Esperar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas1": {
      "main": [
        [
          {
            "node": "Coletar mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio1": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info1": {
      "main": [
        [
          {
            "node": "Reset ou teste1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?1": {
      "main": [
        [
          {
            "node": "Tipo de mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste1": {
      "main": [
        [
          {
            "node": "Limpar memória1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar mensagem?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar etiquetas1": {
      "main": [
        [
          {
            "node": "Resetar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória1": {
      "main": [
        [
          {
            "node": "Resetar atributos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos1": {
      "main": [
        [
          {
            "node": "Limpar etiquetas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens3": {
      "main": [
        [
          {
            "node": "Enviar memória resetada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente1": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?1": {
      "main": [
        [
          {
            "node": "Bloquear status atendimento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens1": {
      "main": [
        [
          {
            "node": "ATLAS Agno API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens1": {
      "main": [
        [
          {
            "node": "Limpar status atendimento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento1": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento1": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida1": {
      "main": [
        [
          {
            "node": "Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Transcrever audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear status atendimento1": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATLAS Agno API": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "064d4f80-4b79-4776-a735-8cf6dc61ceb0",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T11:41:32.718Z",
      "createdAt": "2026-03-02T11:41:32.718Z",
      "role": "workflow:owner",
      "workflowId": "yjYojxfTCjKGjsJ6",
      "projectId": "Te8G9TnibVXyTuYh",
      "project": {
        "updatedAt": "2026-02-07T22:16:41.207Z",
        "createdAt": "2026-02-07T22:15:37.290Z",
        "id": "Te8G9TnibVXyTuYh",
        "name": "Rodrigo Gomes <britoforex@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "18393cff-bf6e-4d77-8e1f-adf0bf116db4",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T22:15:37.290Z",
            "createdAt": "2026-02-07T22:15:37.290Z",
            "userId": "18393cff-bf6e-4d77-8e1f-adf0bf116db4",
            "projectId": "Te8G9TnibVXyTuYh",
            "user": {
              "updatedAt": "2026-03-02T11:37:34.309Z",
              "createdAt": "2026-02-07T22:15:35.478Z",
              "id": "18393cff-bf6e-4d77-8e1f-adf0bf116db4",
              "email": "britoforex@gmail.com",
              "firstName": "Rodrigo",
              "lastName": "Gomes",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-07T22:16:52.277Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companySize": "20-99",
                "companyType": "ecommerce",
                "role": "customer-support"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "12XbuZTmMPfo2HrY",
                "userActivatedAt": 1770562347825,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1770835425446
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}