exec_2646.json
{"id":"2646","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-03-04T16:38:41.720Z","startedAt":"2026-03-04T19:38:41.730Z","stoppedAt":"2026-03-04T16:39:08.180Z","deletedAt":null,"workflowId":"yjYojxfTCjKGjsJ6","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Mensagem recebida1":[{"startTime":1772642321752,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.rodrigobrito.cloud","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"7450","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"n8n.rodrigobrito.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b9a39e9301bd","x-real-ip":"10.0.1.1"},"params":{},"query":{},"body":{"account":{"id":1,"name":"rodrigo"},"additional_attributes":{},"content_attributes":{"external_created_at":1772642318},"content_type":"text","content":"Análise a imagem","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1,"contact_id":1,"inbox_id":2,"source_id":"172825356833004","created_at":"2026-02-08T02:55:27.809Z","updated_at":"2026-02-08T02:55:27.809Z","hmac_verified":false,"pubsub_token":"f3coGEChZZQZWQu5AYswXUAg"},"id":5,"inbox_id":2,"messages":[{"id":1824,"content":"Análise a imagem","account_id":1,"inbox_id":2,"conversation_id":5,"message_type":0,"created_at":1772642321,"updated_at":"2026-03-04T16:38:41.170Z","private":false,"status":"sent","source_id":"AC1A66F70BFCD9F49891E948C1E6B0C1","content_type":"text","content_attributes":{"external_created_at":1772642318},"sender_type":"Contact","sender_id":1,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Análise a imagem","sentiment":{},"conversation":{"assignee_id":1,"unread_count":1,"last_activity_at":1772642321,"contact_inbox":{"source_id":"172825356833004"}},"attachments":[{"id":129,"message_id":1824,"file_type":"image","account_id":1,"meta":{},"extension":null,"data_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","thumb_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","file_size":48363,"width":null,"height":null}],"sender":{"additional_attributes":{"avatar_url_hash":"329ff8590f0ca6efd56de225dd94739dfdd3f5ba5106ca5ad8b4d25e1e3a57eb","last_avatar_sync_at":"2026-03-04T16:38:40Z"},"custom_attributes":{},"email":null,"id":1,"identifier":"172825356833004@lid","name":"Rodrigo De Brito","phone_number":"+553492375248","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","blocked":false,"type":"contact"}}],"labels":["testando-agente"],"meta":{"sender":{"additional_attributes":{"avatar_url_hash":"329ff8590f0ca6efd56de225dd94739dfdd3f5ba5106ca5ad8b4d25e1e3a57eb","last_avatar_sync_at":"2026-03-04T16:38:40Z"},"custom_attributes":{},"email":null,"id":1,"identifier":"172825356833004@lid","name":"Rodrigo De Brito","phone_number":"+553492375248","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","blocked":false,"type":"contact"},"assignee":{"id":1,"name":"rodrigo","available_name":"rodrigo","avatar_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--614c428fa2789920aed9757992f2475ce47837c3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/c9912d0a224c9d3cbe2b833ccf049fa5.jpeg","type":"user","availability_status":null,"thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--614c428fa2789920aed9757992f2475ce47837c3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/c9912d0a224c9d3cbe2b833ccf049fa5.jpeg"},"assignee_type":"User","team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":"2026-02-08T18:43:24.198Z","priority":null,"waiting_since":0,"agent_last_seen_at":1772642222,"contact_last_seen_at":0,"last_activity_at":1772642321,"timestamp":1772642321,"created_at":1770576012,"updated_at":1772642321.1729689},"created_at":"2026-03-04T16:38:41.170Z","id":1824,"inbox":{"id":2,"name":"secretaria"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"rodrigo"},"additional_attributes":{"avatar_url_hash":"329ff8590f0ca6efd56de225dd94739dfdd3f5ba5106ca5ad8b4d25e1e3a57eb","last_avatar_sync_at":"2026-03-04T16:38:40Z"},"avatar":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","custom_attributes":{},"email":null,"id":1,"identifier":"172825356833004@lid","name":"Rodrigo De Brito","phone_number":"+553492375248","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","blocked":false},"source_id":"AC1A66F70BFCD9F49891E948C1E6B0C1","attachments":[{"id":129,"message_id":1824,"file_type":"image","account_id":1,"meta":{},"extension":null,"data_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","thumb_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","file_size":48363,"width":null,"height":null}],"event":"message_incoming"},"webhookUrl":"https://n8n.rodrigobrito.cloud/webhook/ff8c6fec-8f57-4b74-b439-ce46d6c2fa75","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Info1":[{"startTime":1772642321752,"executionIndex":1,"source":[{"previousNode":"Mensagem recebida1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"url_chatwoot":"https://chatwood.rodrigobrito.cloud","agendamento_duracao_minutos":"30","cobranca_valor":"500","id_conversa_alerta":"1","url_asaas":"https://api-sandbox.asaas.com","id_mensagem":"1824","id_conta":"1","id_conversa":"5","id_contato":"1","telefone":"+553492375248","nome":"Rodrigo De Brito","mensagem":"Análise a imagem","mensagem_de_audio":false,"timestamp":"2026-03-04T16:38:41.170Z","tipo":"incoming","etiquetas":["testando-agente"],"email_usuario":null,"atributos_contato":{},"info_arquivo":null,"attachment_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","attachment_file_type":"image"},"pairedItem":{"item":0}}]]}}],"Reset ou teste1":[{"startTime":1772642321757,"executionIndex":2,"source":[{"previousNode":"Info1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[],[],[{"json":{"url_chatwoot":"https://chatwood.rodrigobrito.cloud","agendamento_duracao_minutos":"30","cobranca_valor":"500","id_conversa_alerta":"1","url_asaas":"https://api-sandbox.asaas.com","id_mensagem":"1824","id_conta":"1","id_conversa":"5","id_contato":"1","telefone":"+553492375248","nome":"Rodrigo De Brito","mensagem":"Análise a imagem","mensagem_de_audio":false,"timestamp":"2026-03-04T16:38:41.170Z","tipo":"incoming","etiquetas":["testando-agente"],"email_usuario":null,"atributos_contato":{},"info_arquivo":null,"attachment_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","attachment_file_type":"image"},"pairedItem":{"item":0}}]]}}],"Processar mensagem?1":[{"startTime":1772642321758,"executionIndex":3,"source":[{"previousNode":"Reset ou teste1","previousNodeOutput":3,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"url_chatwoot":"https://chatwood.rodrigobrito.cloud","agendamento_duracao_minutos":"30","cobranca_valor":"500","id_conversa_alerta":"1","url_asaas":"https://api-sandbox.asaas.com","id_mensagem":"1824","id_conta":"1","id_conversa":"5","id_contato":"1","telefone":"+553492375248","nome":"Rodrigo De Brito","mensagem":"Análise a imagem","mensagem_de_audio":false,"timestamp":"2026-03-04T16:38:41.170Z","tipo":"incoming","etiquetas":["testando-agente"],"email_usuario":null,"atributos_contato":{},"info_arquivo":null,"attachment_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","attachment_file_type":"image"},"pairedItem":{"item":0}}],[]]}}],"Tipo de mensagem1":[{"startTime":1772642321759,"executionIndex":4,"source":[{"previousNode":"Processar mensagem?1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"url_chatwoot":"https://chatwood.rodrigobrito.cloud","agendamento_duracao_minutos":"30","cobranca_valor":"500","id_conversa_alerta":"1","url_asaas":"https://api-sandbox.asaas.com","id_mensagem":"1824","id_conta":"1","id_conversa":"5","id_contato":"1","telefone":"+553492375248","nome":"Rodrigo De Brito","mensagem":"Análise a imagem","mensagem_de_audio":false,"timestamp":"2026-03-04T16:38:41.170Z","tipo":"incoming","etiquetas":["testando-agente"],"email_usuario":null,"atributos_contato":{},"info_arquivo":null,"attachment_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","attachment_file_type":"image"},"pairedItem":{"item":0}}],[],[]]}}],"Enfileirar mensagem.1":[{"startTime":1772642321761,"executionIndex":5,"source":[{"previousNode":"Tipo de mensagem1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1450,"executionStatus":"success","data":{"main":[[{"json":{"id":347,"id_mensagem":"1824","telefone":"+553492375248","mensagem":"Análise a imagem","timestamp":"2026-03-04T16:38:41.170Z"},"pairedItem":{"item":0}}]]}}],"Esperar1":[{"startTime":1772642323211,"executionIndex":6,"source":[{"previousNode":"Enfileirar mensagem.1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5001,"executionStatus":"success","data":{"main":[[{"json":{"id":347,"id_mensagem":"1824","telefone":"+553492375248","mensagem":"Análise a imagem","timestamp":"2026-03-04T16:38:41.170Z"},"pairedItem":{"item":0}}]]}}],"Buscar mensagens1":[{"startTime":1772642328213,"executionIndex":7,"source":[{"previousNode":"Esperar1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":183,"executionStatus":"success","data":{"main":[[{"json":{"id":347,"id_mensagem":"1824","telefone":"+553492375248","mensagem":"Análise a imagem","timestamp":"2026-03-04T16:38:41.170Z"},"pairedItem":{"item":0}}]]}}],"Mensagem encavalada?1":[{"startTime":1772642328397,"executionIndex":8,"source":[{"previousNode":"Buscar mensagens1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":14,"executionStatus":"success","data":{"main":[[{"json":{"id":347,"id_mensagem":"1824","telefone":"+553492375248","mensagem":"Análise a imagem","timestamp":"2026-03-04T16:38:41.170Z"},"pairedItem":{"item":0}}]]}}],"Verificar status atendimento1":[{"startTime":1772642328411,"executionIndex":9,"source":[{"previousNode":"Mensagem encavalada?1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":181,"executionStatus":"success","data":{"main":[[{"json":{"id":1,"session_id":"+553492375248","lock_conversa":false,"aguardando_followup":true,"numero_followup":0,"updated_at":"2026-03-04T16:37:01.639Z"},"pairedItem":{"item":0}}]]}}],"Agente já terminou de responder?1":[{"startTime":1772642328592,"executionIndex":10,"source":[{"previousNode":"Verificar status atendimento1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"id":1,"session_id":"+553492375248","lock_conversa":false,"aguardando_followup":true,"numero_followup":0,"updated_at":"2026-03-04T16:37:01.639Z"},"pairedItem":{"item":0}}],[]]}}],"Bloquear status atendimento1":[{"startTime":1772642328593,"executionIndex":11,"source":[{"previousNode":"Agente já terminou de responder?1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":367,"executionStatus":"success","data":{"main":[[{"json":{"id":1,"session_id":"+553492375248","lock_conversa":true,"aguardando_followup":true,"numero_followup":0,"updated_at":"2026-03-04T16:38:48.778Z"},"pairedItem":{"item":0}}]]}}],"Limpar fila de mensagens2":[{"startTime":1772642328960,"executionIndex":12,"source":[{"previousNode":"Bloquear status atendimento1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":182,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":[{"item":0}]}]]}}],"Marcar como lidas1":[{"startTime":1772642329143,"executionIndex":13,"source":[{"previousNode":"Limpar fila de mensagens2","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":87,"executionStatus":"success","data":{"main":[[{"json":{"meta":{"sender":{"additional_attributes":{"avatar_url_hash":"329ff8590f0ca6efd56de225dd94739dfdd3f5ba5106ca5ad8b4d25e1e3a57eb","last_avatar_sync_at":"2026-03-04T16:38:40Z"},"availability_status":"offline","email":null,"id":1,"name":"Rodrigo De Brito","phone_number":"+553492375248","blocked":false,"identifier":"172825356833004@lid","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","custom_attributes":{},"last_activity_at":1772642321,"created_at":1770519327,"account_id":1},"channel":"Channel::Whatsapp","assignee":{"id":1,"account_id":1,"availability_status":"offline","auto_offline":true,"confirmed":true,"email":"britoforex@gmail.com","provider":"email","available_name":"rodrigo","name":"rodrigo","role":"administrator","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--614c428fa2789920aed9757992f2475ce47837c3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/c9912d0a224c9d3cbe2b833ccf049fa5.jpeg"},"assignee_type":"User","hmac_verified":false},"id":5,"messages":[{"id":1824,"content":"Análise a imagem","account_id":1,"inbox_id":2,"conversation_id":5,"message_type":0,"created_at":1772642321,"updated_at":"2026-03-04T16:38:41.170Z","private":false,"status":"sent","source_id":"AC1A66F70BFCD9F49891E948C1E6B0C1","content_type":"text","content_attributes":{"external_created_at":1772642318},"sender_type":"Contact","sender_id":1,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Análise a imagem","sentiment":{},"conversation":{"assignee_id":1,"unread_count":0,"last_activity_at":1772642321,"contact_inbox":{"source_id":"172825356833004"}},"attachments":[{"id":129,"message_id":1824,"file_type":"image","account_id":1,"meta":{},"extension":null,"data_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","thumb_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","file_size":48363,"width":832,"height":1600}],"sender":{"additional_attributes":{"avatar_url_hash":"329ff8590f0ca6efd56de225dd94739dfdd3f5ba5106ca5ad8b4d25e1e3a57eb","last_avatar_sync_at":"2026-03-04T16:38:40Z"},"custom_attributes":{},"email":null,"id":1,"identifier":"172825356833004@lid","name":"Rodrigo De Brito","phone_number":"+553492375248","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","blocked":false,"type":"contact"}}],"account_id":1,"uuid":"35f0a61f-f7c5-4810-82bf-501db81019cb","additional_attributes":{},"agent_last_seen_at":1772642329,"assignee_last_seen_at":1772642329,"can_reply":true,"contact_last_seen_at":0,"custom_attributes":{},"inbox_id":2,"labels":["testando-agente"],"muted":false,"snoozed_until":null,"status":"open","created_at":1770576012,"updated_at":1772642321.2252212,"timestamp":1772642321,"first_reply_created_at":1770576204,"unread_count":0,"last_non_activity_message":{"id":1824,"content":"Análise a imagem","account_id":1,"inbox_id":2,"conversation_id":5,"message_type":0,"created_at":1772642321,"updated_at":"2026-03-04T16:38:41.170Z","private":false,"status":"sent","source_id":"AC1A66F70BFCD9F49891E948C1E6B0C1","content_type":"text","content_attributes":{"external_created_at":1772642318},"sender_type":"Contact","sender_id":1,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Análise a imagem","sentiment":{},"conversation":{"assignee_id":1,"unread_count":0,"last_activity_at":1772642321,"contact_inbox":{"source_id":"172825356833004"}},"attachments":[{"id":129,"message_id":1824,"file_type":"image","account_id":1,"meta":{},"extension":null,"data_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","thumb_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f80f2015f693ea66ea78cc3d8b5b2d09c943594/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/image_AC1A66F70BFCD9F49891E948C1E6B0C1_20260304.jpeg","file_size":48363,"width":832,"height":1600}],"sender":{"additional_attributes":{"avatar_url_hash":"329ff8590f0ca6efd56de225dd94739dfdd3f5ba5106ca5ad8b4d25e1e3a57eb","last_avatar_sync_at":"2026-03-04T16:38:40Z"},"custom_attributes":{},"email":null,"id":1,"identifier":"172825356833004@lid","name":"Rodrigo De Brito","phone_number":"+553492375248","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ1VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7e82f9a575dbb421e78fac1cd47e5df195992015/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--788bda524f92a8026d15eb1a49844918ad5a7705/594487353_2032715704294418_6400890568137737041_n.jpg","blocked":false,"type":"contact"}},"last_activity_at":1772642321,"priority":null,"waiting_since":1772642321,"sla_policy_id":null},"pairedItem":{"item":0}}]]}}],"Coletar mensagens1":[{"startTime":1772642329230,"executionIndex":14,"source":[{"previousNode":"Marcar como lidas1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"mensagem":"Análise a imagem"},"pairedItem":{"item":0}}]]}}],"ATLAS Agno API":[{"startTime":1772642329231,"executionIndex":15,"source":[{"previousNode":"Coletar mensagens1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":3141,"executionStatus":"success","data":{"main":[[{"json":{"run_id":"137bbd48-31d8-41dd-8398-6569dda744d9","agent_id":"atlas","agent_name":"atlas","session_id":"+553492375248","content":"Não consigo analisar imagens, mas posso te ajudar com qualquer informação financeira que você conseguir digitar ou ditar aqui!","content_type":"str","model_provider_data":{"id":"chatcmpl-DFjXGhGlmAaDlFgJZWvk6MMnHqccX","system_fingerprint":"fp_459ebace24"},"model":"gpt-4.1-mini","model_provider":"OpenAI","session_state":{},"created_at":1772641031,"status":"COMPLETED","metrics":{"input_tokens":10068,"output_tokens":24,"total_tokens":10092,"cache_read_tokens":4992,"time_to_first_token":1.9192301398143172,"duration":1.9194597247987986,"details":{"model":[{"input_tokens":10068,"output_tokens":24,"total_tokens":10092,"cache_read_tokens":4992,"id":"gpt-4.1-mini","provider":"OpenAI"}]}},"messages":[{"id":"f2fa9493-48e1-48d2-a51f-047957c88be1","content":"ATLAS — Assistente financeiro pessoal via WhatsApp\n\n╔══════════════════════════════════════════════════════════════╗\n║  REGRAS CRÍTICAS — LEIA ANTES DE TUDO                       ║\n╚══════════════════════════════════════════════════════════════╝\n\nREGRA 1 — RETORNAR TOOL OUTPUT VERBATIM (A MAIS IMPORTANTE):\nApós qualquer tool de CONSULTA, copie o resultado EXATAMENTE como veio.\nNÃO reformule. NÃO resuma em prosa. NÃO prefixe com \"Anotado!\".\nNÃO adicione o nome do usuário antes do output (ex: \"Rodrigo,\" é proibido).\nNÃO reformule o cabeçalho (ex: \"🔍 *Deville*\" não vira \"Lançamentos no Deville:\").\nNÃO troque emojis (💸 permanece 💸, não vira 💰, não vira 💸📦 etc).\nO PRIMEIRO CARACTERE da sua resposta = primeiro caractere do output da tool.\nTools de consulta (retorno verbatim obrigatório):\n  get_month_summary, get_week_summary, get_today_total,\n  get_transactions_by_merchant, get_category_breakdown, get_transactions,\n  get_installments_summary, get_salary_cycle, get_financial_score,\n  get_upcoming_commitments, get_cards, get_next_bill, get_goals, get_recurring\nVocê PODE adicionar UMA linha de insight ao final dos resumos (mensal/semanal/diário).\nPara get_transactions_by_merchant e get_category_breakdown: ENCERRE após o output. ZERO linhas extras.\nERRADO: \"Rodrigo, lançamentos no Supermercado Deville em Mar/2026: ...\"\nERRADO: \"Anotado! R$171,68 gastos no Deville em março, entre supermercado e restaurante.\"\nCERTO: colar o bloco exato que a tool retornou, começando pelo primeiro caractere (ex: 🔍).\n\nREGRA 2 — ZERO PERGUNTAS APÓS CONSULTAS (SEM EXCEÇÕES PARA FILTROS):\nPara get_transactions_by_merchant e get_category_breakdown: regra ABSOLUTA, zero exceções.\nPara outros resumos: não adicione perguntas de follow-up.\nPROIBIDO após qualquer ação (consulta, registro, cadastro de cartão, etc.).\nA resposta TERMINA após a confirmação ou output da tool. ZERO perguntas de acompanhamento.\n- \"Quer ver o resumo das suas faturas?\"\n- \"Quer ver o extrato?\"\n- \"Quer adicionar algum gasto agora?\"\n- \"Quer adicionar mais algum gasto?\"\n- \"Quer que eu te lembre quando a data estiver próxima?\"\n- \"Quer que eu detalhe outros gastos do mês?\"\n- \"Quer ver o resumo detalhado de despesas por categoria?\"\n- \"Quer que eu separe por categoria?\"\n- \"Quer ver o total?\"\n- \"Quer que eu verifique algo específico para abril?\"\n- \"Quer que eu faça isso?\"\n- \"Gostaria de ver mais?\"\n- \"Posso mostrar...?\"\n- \"Claro! Estou aqui para ajudar sempre que precisar.\"\n- Qualquer frase com \"Quer que eu...\", \"Posso...\", \"Gostaria...\", \"Estou aqui para...\"\n\nREGRA 3 — \"Anotado!\" EXCLUSIVO DE save_transaction:\n\"Anotado!\" aparece SOMENTE na confirmação de registro de gasto/receita.\nNUNCA use \"Anotado!\" em respostas de consulta ou análise.\n\nREGRA 4 — \"não\"/\"nao\"/\"n\" NUNCA APAGA:\n\"não\", \"nao\", \"n\", \"nope\" = recusa ou negação. delete_last_transaction só com:\n\"apaga\", \"deleta\", \"remove\", \"exclui\" + contexto claro de transação.\n\nREGRA 5 — PRESERVAR CENTAVOS EXATAMENTE:\n\"42,54\" → amount=42.54 | \"R$8,90\" → amount=8.9 | \"R$1.234,56\" → amount=1234.56\nNUNCA arredonde. NUNCA converta centavos em inteiro.\n\nREGRA 6 — SALVAR SEM PEDIR CONFIRMAÇÃO PRÉVIA:\nValor + qualquer contexto (item/local/categoria) → salve IMEDIATAMENTE.\nNão pergunte \"Pode ser?\" antes. Confirmação vem depois, na resposta.\nExceção: valor sem NENHUM contexto (\"gastei 18\") → pergunte \"R$18 em quê?\"\n\n╔══════════════════════════════════════════════════════════════╗\n║  IDENTIDADE E TOM                                           ║\n╚══════════════════════════════════════════════════════════════╝\n\nVocê é o ATLAS — assistente financeiro pessoal via WhatsApp.\nTom: amigável, direto, informal. Português brasileiro natural.\nWhatsApp markdown: *negrito*, _itálico_, ~tachado~.\nUMA mensagem por resposta. NUNCA mostre JSON ou campos técnicos internos.\n\n╔══════════════════════════════════════════════════════════════╗\n║  HEADER DE CADA MENSAGEM                                    ║\n╚══════════════════════════════════════════════════════════════╝\n\nCada mensagem começa com:\n  [user_phone: +55XXXXXXXXXX]\n  [user_name: João da Silva]\n→ Extraia user_phone (use em TODAS as chamadas de tool).\n→ Extraia user_name (nome do perfil WhatsApp).\n→ NUNCA use \"demo_user\".\n\n╔══════════════════════════════════════════════════════════════╗\n║  ONBOARDING                                                 ║\n╚══════════════════════════════════════════════════════════════╝\n\nChame get_user(user_phone=<user_phone>) SEMPRE na primeira mensagem da sessão.\n\nCASO A — get_user retorna \"__status:new_user\":\n  1. Chame update_user_name(user_phone=<user_phone>, name=<primeiro nome de user_name>)\n  2. Envie EXATAMENTE (substitua [nome]):\n     \"Oi, [nome]! 👋 Sou o *ATLAS*, seu assistente financeiro no WhatsApp.\n     Anoto seus gastos, receitas e te ajudo a entender pra onde vai seu dinheiro — tudo aqui na conversa, sem precisar de app.\n     💰 Pra te ajudar melhor, qual é sua renda mensal aproximada? Pode pular se preferir.\"\n  3. Aguarde renda ou pulo (\"pular\", \"não sei\", \"depois\", \"0\"). Não pergunte mais nada.\n  4. Se informou renda: chame update_user_income(user_phone=<user_phone>, monthly_income=<valor>)\n  5. Envie EXATAMENTE este texto de boas-vindas (com ou sem renda — o mesmo texto):\n\"Tudo certo, [nome]! 🎉 Pode me mandar seus gastos assim:\n\n💸 *Gastos do dia a dia:*\n• _\"almocei 35 no Restaurante Talentos — PIX\"_\n• _\"mercado 120 no Supermercado Deville — débito\"_\n• _\"uber 18 pro aeroporto — débito\"_\n\n💳 *Compras no cartão:*\n• _\"comprei tênis 300 no Nubank\"_\n• _\"notebook 3000 em 6x no Inter\"_\n\n📊 *Ver como está:*\n• _\"como tá meu mês?\"_\n• _\"posso comprar um tênis de 200?\"_\n\nDigite *ajuda* a qualquer hora pra ver tudo que sei fazer 🎯\"\n\nCASO B — is_new=False, has_income=False:\n  - Cumprimente pelo nome normalmente.\n  - Após responder, sugira UMA vez: \"Quer cadastrar sua renda pra eu te ajudar melhor com alertas e análises?\"\n\nCASO C — is_new=False, has_income=True (usuário completo):\n  - Saudação curta e variada (escolha aleatória):\n    \"Oi, [name]! 👋 Como posso te ajudar?\" | \"Oi, [name]! 😊 O que aconteceu hoje?\"\n    \"Ei, [name]! 👋 Me conta.\" | \"Oi, [name]! O que anotamos hoje?\"\n  - Se salary_day=0 e transaction_count >= 5: sugira UMA vez ao final:\n    \"Você é CLT? Me fala o dia que seu salário cai — aí acompanho seu ciclo!\"\n\n╔══════════════════════════════════════════════════════════════╗\n║  CATEGORIAS                                                 ║\n╚══════════════════════════════════════════════════════════════╝\n\nGASTOS (EXPENSE):\n- iFood, Rappi, restaurante, lanche, mercado, almoço, comida → Alimentação\n- Uber, 99, gasolina, pedágio, ônibus, metrô, táxi → Transporte\n- Netflix, Spotify, Amazon Prime, assinatura digital → Assinaturas\n- Farmácia, médico, plano de saúde, remédio, consulta → Saúde\n- Aluguel, condomínio, luz, água, internet, gás → Moradia\n- Academia, bar, cinema, show, viagem, lazer → Lazer\n- Curso, livro, faculdade, treinamento → Educação\n- Roupa, tênis, acessório, moda → Vestuário\n- CDB, ação, fundo, tesouro, cripto → Investimento\n- Ração, veterinário, pet shop, banho animal → Pets\n- Presente, doação, outros → Outros\n\nRECEITAS (INCOME):\n- Salário, holerite, pagamento empresa → Salário\n- Freela, projeto, cliente, PJ → Freelance\n- Aluguel recebido, inquilino → Aluguel Recebido\n- Dividendo, rendimento, CDB, juros → Investimentos\n- Aposentadoria, INSS, benefício → Benefício\n- Venda, marketplace, Mercado Livre → Venda\n- Presente, Pix recebido sem contexto → Outros\n\n╔══════════════════════════════════════════════════════════════╗\n║  PARCELAMENTO                                               ║\n╚══════════════════════════════════════════════════════════════╝\n\nDetecte automaticamente:\n- \"em Nx\" / \"parcelei\" / \"12 vezes\" → parcelado, extraia installments\n- \"à vista\" / \"débito\" / \"Pix\" / \"dinheiro\" / \"espécie\" → installments=1\n- Valor < R$200 sem mencionar forma → installments=1\n- Assinaturas, delivery, transporte → sempre installments=1\n\nPergunte APENAS se: \"cartão\" ou \"crédito\" + valor ≥ R$200 + sem informar parcelas.\n\n╔══════════════════════════════════════════════════════════════╗\n║  INTENT → TOOL                                              ║\n╚══════════════════════════════════════════════════════════════╝\n\n── REGISTRAR ──────────────────────────────────────────────────\n\nGasto à vista: save_transaction(user_phone, transaction_type=\"EXPENSE\", amount=<R$>, installments=1, category, merchant, payment_method, occurred_at)\nGasto parcelado: save_transaction(..., amount=<parcela>, installments=<n>, total_amount=<total>)\n  Ex \"tênis 1200 em 12x\" → amount=100, installments=12, total_amount=1200\nReceita: save_transaction(..., transaction_type=\"INCOME\", amount=<R$>, category)\nGasto no cartão: adicione card_name=\"Nubank\" — cartão criado automaticamente, não peça cadastro.\n\nMÚLTIPLOS GASTOS: 1 gasto = 1 chamada save_transaction. 3 gastos = 3 chamadas.\nDATA: \"ontem\"→hoje-1 | \"anteontem\"→hoje-2 | \"dia X\"→YYYY-MM-X | sem data→omitir occurred_at\n  Múltiplos gastos com data: mesma occurred_at em TODAS as chamadas.\n\n── CONSULTAR PERÍODO ──────────────────────────────────────────\n\nfilter_type: \"gastos\"/\"o que gastei\" → EXPENSE | \"receitas\"/\"entradas\" → INCOME | resto → ALL\n\nMÊS: \"como tá meu mês?\" / \"resumo do mês\" → get_month_summary(user_phone, filter_type=\"ALL\")\nSEMANA: \"como foi minha semana?\" → get_week_summary(user_phone, filter_type=\"ALL\")\nHOJE/N DIAS: \"gastos de hoje\" → get_today_total(filter_type=\"EXPENSE\", days=1)\n  \"movimentações de hoje\" → get_today_total(filter_type=\"ALL\", days=1)\n  \"últimos 3 dias\" → get_today_total(filter_type=\"EXPENSE\", days=3)\n  \"ontem\" → get_today_total(filter_type=\"EXPENSE\", days=2)\n  ⚠️ Qualquer \"hoje\"/\"ontem\"/\"últimos N dias\" → get_today_total com days=N, NUNCA get_transactions.\n\n── FILTROS ────────────────────────────────────────────────────\n\nPOR ESTABELECIMENTO — qualquer menção a nome próprio de loja/app/serviço:\n  \"quanto gastei no X?\" / \"me mostra os gastos no X\" / \"gastos no X\" / \"gastos com X\"\n  \"o que comprei na X?\" / \"mostra o X\" / \"X esse mês\" / \"X essa semana\"\n  \"histórico do X\" / \"transações no X\" / \"compras no X\" / \"quantas vezes no X?\"\n  REGRA: nome próprio (Deville, iFood, Uber, Herbalife, Talentos, Nubank, Amazon...) →\n    SEMPRE get_transactions_by_merchant — NUNCA get_today_total, NUNCA get_transactions\n  → get_transactions_by_merchant(user_phone, merchant_query=\"<nome>\")\n  → Com mês: get_transactions_by_merchant(user_phone, merchant_query=\"<nome>\", month=\"YYYY-MM\")\n\nPOR CATEGORIA: \"onde gastei em X?\" / \"detalhes de Alimentação\"\n  → get_category_breakdown(user_phone, category=\"<categoria>\")\n\nLISTA DETALHADA: \"todas as transações de março\" / \"transações do dia 10\"\n  → get_transactions(user_phone, month=\"YYYY-MM\") ou get_transactions(user_phone, date=\"YYYY-MM-DD\")\n\n── ANÁLISES ───────────────────────────────────────────────────\n\n\"posso comprar X?\" / \"tenho dinheiro pra Y?\" → can_i_buy(user_phone, amount=<R$>, description=\"<item>\")\n\"comparado ao mês passado\" / \"como evoluí?\" → get_month_comparison(user_phone)\n\"vai sobrar?\" / \"vai faltar?\" → will_i_have_leftover(user_phone)\n\"como estou no ciclo?\" / \"quanto tenho por dia?\" → get_salary_cycle(user_phone)\n\"qual meu score?\" / \"saúde financeira\" → get_financial_score(user_phone)\n\n── METAS ──────────────────────────────────────────────────────\n\n\"quero guardar X pra Y\" → create_goal(user_phone, name=\"<nome>\", target_amount=<R$>)\n\"quero reserva de emergência\" → create_goal(..., is_emergency_fund=True)\n\"ver minhas metas\" → get_goals(user_phone)\n\"guardei X pra meta Y\" → add_to_goal(user_phone, goal_name=\"<nome parcial>\", amount=<R$>)\n\n── CARTÕES ────────────────────────────────────────────────────\n\n\"fatura do Nubank\" / \"meus cartões\" → get_cards(user_phone)\n\"minha fatura do Nubank está em 1.300\" → set_card_bill(user_phone, card_name=\"Nubank\", amount=1300)\n\"em abril tenho 400 no Nubank\" → set_future_bill(user_phone, card_name=\"Nubank\", bill_month=\"2026-04\", amount=400)\n\"a fatura do ML em abril é 887\" / \"está errado, a fatura é 887\" → set_future_bill imediatamente, sem pedir confirmação\n\"paguei o Nubank\" → close_bill(user_phone, card_name=\"Nubank\")\n\"Nubank fecha 25 vence 10\" → register_card(user_phone, name=\"Nubank\", closing_day=25, due_day=10)\n\"próxima fatura do Inter\" → get_next_bill(user_phone, card_name=\"Inter\")\nCartão criado automaticamente em save_transaction com card_name — nunca peça cadastro antecipado.\n\n── GASTOS FIXOS ───────────────────────────────────────────────\n\n\"aluguel 1500 todo dia 5\" → register_recurring(user_phone, name=\"Aluguel\", amount=1500, category=\"Moradia\", day_of_month=5)\n\"quais meus gastos fixos?\" → get_recurring(user_phone)\n\"cancelei a Netflix\" → deactivate_recurring(user_phone, name=\"Netflix\")\n\"compromissos futuros\" / \"o que tenho pra pagar\" → get_upcoming_commitments(user_phone, days=60)\n\"o que pago em abril\" / \"compromissos de abril\" / \"o que tenho em abril\" → get_upcoming_commitments(user_phone, days=60, month=\"2026-04\")\n\"o que pago em maio\" → get_upcoming_commitments(user_phone, days=90, month=\"2026-05\")\n\"minhas parcelas\" → get_installments_summary(user_phone)\n\n── SALÁRIO / CICLO ────────────────────────────────────────────\n\n\"meu salário cai dia X\" → set_salary_day(user_phone, salary_day=X)\n\"quero lembrete 2 dias antes\" → set_reminder_days(user_phone, days_before=2)\n\n── CORREÇÕES ──────────────────────────────────────────────────\n\n\"apaga\" / \"cancela\" / \"foi erro\" → delete_last_transaction(user_phone) → \"✅ Apagado! R$X [categoria] removido.\"\n\"corrige\" / \"errei\" / \"na verdade\" / \"foi parcelado\" → update_last_transaction(user_phone, <só o campo que muda>)\n  installments → recalcula parcela automaticamente (não passe amount junto)\n  payment_method → CREDIT | DEBIT | PIX | CASH\n  \"foi 150 não 200\" → update_last_transaction(user_phone, amount=150)\n  \"o local era Magazine Luiza\" → update_last_transaction(user_phone, merchant=\"Magazine Luiza\")\n\n── AJUDA ──────────────────────────────────────────────────────\n\n\"ajuda\" / \"menu\" / \"o que você faz?\" / \"comandos\" → responda com menu EXATO abaixo, sem chamar tool:\n\n\"📋 *O que o ATLAS faz:*\n\n1️⃣ *Lançar gastos*\n• _\"gastei 45 no iFood\"_\n• _\"tênis 300 em 3x no Nubank\"_\n• _\"mercado 120 — débito\"_\n\n2️⃣ *Receitas*\n• _\"recebi 4500 de salário\"_\n• _\"entrou 1200 de freela\"_\n\n3️⃣ *Análises*\n• _\"como tá meu mês?\"_\n• _\"posso comprar um tênis de 200?\"_\n• _\"vai sobrar até o fim do mês?\"_\n\n4️⃣ *Cartões de crédito*\n• _\"fatura do Nubank\"_\n• _\"próxima fatura do Inter\"_\n• _\"paguei o cartão\"_\n\n5️⃣ *Gastos fixos e metas*\n• _\"aluguel 1500 todo dia 5\"_\n• _\"quero guardar 5k pra viagem\"_\n\n💡 *Score financeiro:* _\"qual meu score?\"_\n\nFale natural — não precisa de comando exato 😊\"\n\n╔══════════════════════════════════════════════════════════════╗\n║  FORMATOS DE RESPOSTA                                       ║\n╚══════════════════════════════════════════════════════════════╝\n\n── GASTO À VISTA (save_transaction EXPENSE, installments=1) ──\n✅ *R$30,00 — Alimentação*\n📍 Restaurante Talentos  (omita se sem merchant)\n📅 02/03/2026 (ontem)  •  PIX  (omita método se não informado)\n_Errou? → \"corrige\" ou \"apaga\"_\nSe valor ≥ R$200 sem mencionar parcelamento: linha extra \"_À vista — foi parcelado? É só falar._\"\n\n── GASTO PARCELADO ───────────────────────────────────────────\n✅ *R$100,00/mês × 3x* — Vestuário\n📍 Nike Store  •  Nubank  •  _R$300,00 total_\n📅 03/03/2026 (hoje)\n_Errou? → \"corrige\" ou \"apaga\"_\n\n── MÚLTIPLOS GASTOS ──────────────────────────────────────────\n✅ Anotados!\n• *R$30,00* Alimentação — Talentos\n• *R$85,00* Saúde — Vacina cachorro\n• *R$65,00* Alimentação — Supermercado\n_Errou algum? → \"corrige\" ou \"apaga\"_\n\n── RECEITA ───────────────────────────────────────────────────\n💰 *R$13.000,00* registrado — Salário\n(UMA linha de contexto opcional: \"Boa! Mês começa bem 💪\" — às vezes omita)\n\n── RESUMOS (copiar verbatim + 1 insight opcional) ────────────\nCopie o retorno da tool LINHA POR LINHA.\nAo final, adicione UMA linha de insight baseada nos dados reais.\nRemova a linha `__top_category:...` da resposta (use só para o insight).\nSe renda cadastrada mas sem receita lançada: \"_Sua renda de R$X ainda não foi lançada esse mês_\"\n\n── POSSO COMPRAR? ────────────────────────────────────────────\n✅ *Pode comprar* — Tênis R$200\nSaldo atual: R$4.415 → após: R$4.215\nRepresenta 1,5% da sua renda — cabe tranquilo.\nVereditos: ✅ Pode comprar / ⚠️ Com cautela / ⏳ Melhor adiar / 🚫 Não recomendo\n\n── SALDO RÁPIDO ──────────────────────────────────────────────\n💰 *Saldo de março: R$4.415*\nReceitas: R$4.500  |  Gastos: R$85\n\n── CARTÃO — CONFIGURAÇÃO ─────────────────────────────────────\n\"*[Nome]* configurado! Fecha dia [X], vence dia [Y].\"\n\n── GASTO FIXO — CADASTRO ─────────────────────────────────────\n\"*[Nome]* — R$X todo dia [Y]. ✅\"\n\n── COMPARATIVO MENSAL ────────────────────────────────────────\nDestaque variações com ↑ ↓. Alertas ⚠️ em evidência. Pare aí.\n\n── INSIGHT CONTEXTUAL (opcional) ────────────────────────────\nSó em casos evidentes (última parcela, compra grande, receita alta).\nSilêncio é melhor que comentário genérico. Nunca invente dados.\n\n╔══════════════════════════════════════════════════════════════╗\n║  MODO MENTOR                                                ║\n╚══════════════════════════════════════════════════════════════╝\n\nAtive quando:\n- Usuário pede \"análise dos meus gastos\", \"fala como mentor\", \"onde estou errando\"\n- Usuário importa uma fatura (endpoint /v1/import-statement retorna resultado)\n- Usuário pede comparação de meses (\"compara com mês passado\")\n\nTom e comportamento:\n- Consultor financeiro amigo: direto, sem julgamento, acionável\n- Frase de abertura: \"Olhando seus gastos...\" ou \"Analisando sua fatura...\"\n- Dê 1-2 insights específicos (não genéricos como \"gaste menos\")\n  ✅ \"Você foi ao iFood 11x este mês — R$310. Equivale a 17% dos seus gastos.\"\n  ✅ \"Alimentação subiu R$120 vs fevereiro — puxado pelo Supermercado Deville.\"\n  ❌ \"Tente economizar em alimentação.\"\n- Compare com histórico quando disponível (use get_month_comparison)\n- Uma sugestão concreta no final, se cabível\n- NÃO faça perguntas ao final — entregue o diagnóstico completo e pare\n\n╔══════════════════════════════════════════════════════════════╗\n║  CHECKLIST — REVISE ANTES DE ENVIAR                         ║\n╚══════════════════════════════════════════════════════════════╝\n\nAntes de enviar qualquer resposta de consulta (filtro, resumo, análise):\n\n1. Minha resposta começa com o output exato da tool (🔍, 💸, 📊...)?\n   NÃO → Reescreva começando com o output da tool, linha por linha.\n   LEMBRETE: para get_transactions_by_merchant o output começa com 🔍.\n\n2. Adicionei o nome do usuário antes do output? (ex: \"Rodrigo, lançamentos...\")\n   SIM → ERRADO. Delete o prefixo. Comece direto no 🔍.\n\n3. Minha resposta contém \"Anotado!\" sem ter chamado save_transaction?\n   SIM → Remova \"Anotado!\" — use só para registros de gasto/receita.\n\n4. Minha resposta termina com uma pergunta (\"Quer que eu...?\", \"Posso...?\")?\n   SIM → Delete a pergunta. Pare no conteúdo. Sem exceções para filtros.\n\n5. Resumi o output da tool em uma frase em vez de copiar o bloco inteiro?\n   SIM → Errado. Copie o bloco inteiro. Cada linha da tool = uma linha na resposta.\n\n6. Troquei algum emoji? (💸 → 💰, ou qualquer outra troca)?\n   SIM → Errado. Copie os emojis exatamente como vieram da tool.\n\n\n<additional_information>\n- Use markdown to format your answers.\n- The current time is 2026-03-04 16:38:49.523933.\n</additional_information>","from_history":false,"stop_after_tool_call":false,"role":"system","created_at":1772642329},{"id":"221f4e7d-52f6-4cf4-832e-b4f7fef57a85","content":"[user_phone: +553492375248]\n[user_name: Rodrigo De Brito]\nAnálise a imagem","from_history":false,"stop_after_tool_call":false,"role":"user","created_at":1772642329},{"id":"93648634-b0e7-46a9-b81b-fa39cd9dc656","content":"Não consigo analisar imagens, mas posso te ajudar com qualquer informação financeira que você conseguir digitar ou ditar aqui!","from_history":false,"stop_after_tool_call":false,"role":"assistant","provider_data":{"id":"chatcmpl-DFjXGhGlmAaDlFgJZWvk6MMnHqccX","system_fingerprint":"fp_459ebace24"},"metrics":{"input_tokens":10068,"output_tokens":24,"total_tokens":10092,"cache_read_tokens":4992,"duration":1.8295416489709169,"time_to_first_token":1.8295416489709169},"created_at":1772642329}],"tools":[],"input":{"input_content":"[user_phone: +553492375248]\n[user_name: Rodrigo De Brito]\nAnálise a imagem"}},"pairedItem":{"item":0}}]]}}],"Quebrar e enviar mensagens1":[{"startTime":1772642332372,"executionIndex":16,"source":[{"previousNode":"ATLAS Agno API","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":14219,"metadata":{"subExecution":{"executionId":"2647","workflowId":"mg6tDNh4dYdxg2Pi"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"id":1825,"content":"Entendi! Pode me passar os dados financeiros que você tem em texto? Assim posso te ajudar a organizar, analisar ou tirar dúvidas.","inbox_id":2,"conversation_id":5,"message_type":1,"content_type":"text","status":"sent","content_attributes":{},"additional_attributes":{},"created_at":1772642345,"private":false,"source_id":null,"sender":{"id":1,"name":"rodrigo","available_name":"rodrigo","avatar_url":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--614c428fa2789920aed9757992f2475ce47837c3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/c9912d0a224c9d3cbe2b833ccf049fa5.jpeg","type":"user","availability_status":"offline","thumbnail":"https://chatwood.rodrigobrito.cloud/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--614c428fa2789920aed9757992f2475ce47837c3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a34d4fa7e3ea9cf1b8870465d17a868e02f0f063/c9912d0a224c9d3cbe2b833ccf049fa5.jpeg"}},"pairedItem":{"item":0}}],[]]}}],"Limpar status atendimento3":[{"startTime":1772642346591,"executionIndex":17,"source":[{"previousNode":"Quebrar e enviar mensagens1","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1589,"executionStatus":"success","data":{"main":[[{"json":{"id":1,"session_id":"+553492375248","lock_conversa":false,"aguardando_followup":true,"numero_followup":0,"updated_at":"2026-03-04T16:38:48.778Z"},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Limpar status atendimento3"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772642321751,"source":"webhook","triggerNode":{"name":"Mensagem recebida1","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"yjYojxfTCjKGjsJ6","name":"Atlas","active":true,"activeVersionId":"a254ce6c-3517-420d-b13d-89788f483bdf","isArchived":false,"createdAt":"2026-03-02T11:41:32.718Z","updatedAt":"2026-03-04T14:19:21.778Z","nodes":[{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.etiquetas.append('testando-agente').unique() }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,832],"id":"c74040f3-ebf1-40de-9035-5a175d87ed30","name":"Colocar etiqueta testando-agente","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"content","value":"=Modo de teste habilitado."}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,832],"id":"3a5dcb78-6a2c-4f1d-a4f7-ed7103e911e5","name":"Enviar teste habilitado","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"content":"## Habilitar testes\n","height":272,"width":448,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1328,752],"typeVersion":1,"id":"961b8b40-360b-4112-b089-02cfe14bf5e3","name":"Sticky Note3","disabled":true},{"parameters":{"content":"## 01. Secretária v3","height":80,"width":272,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"b46c83c2-5b39-422c-825b-4c35a55109f3","name":"Sticky Note25"},{"parameters":{"content":"[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n","height":96,"width":324,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,400],"id":"7a563fff-4fff-4feb-8ce0-f6cae90481cb","name":"Sticky Note26"},{"parameters":{"content":"@[youtube](FnEr3ksORS4)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2176,1584],"id":"ed9503e7-5dd9-4b1c-9e1f-50a948d842aa","name":"Sticky Note32"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info1').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();","notice":""},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,128],"id":"90995282-e752-4b78-9014-27db1e4c5d8b","name":"Mensagem encavalada?1"},{"parameters":{"resource":"database","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","condition":"equal","value":"={{ $('Info1').item.json.telefone }}"}]},"combineConditions":"AND","sort":{"values":[{"column":"timestamp","direction":"ASC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2448,128],"id":"c744b83b-abee-4319-b011-e11614df3d82","name":"Buscar mensagens1","credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"resource":"database","operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","condition":"equal","value":"={{ $('Info1').item.json.telefone }}"}]},"combineConditions":"AND","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1936,336],"id":"3c97b43a-d6ea-443c-9f84-4ca0e47a2aea","name":"Limpar fila de mensagens2","credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"resume":"timeInterval","amount":5,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2656,128],"id":"71a63aa0-c5aa-4b1a-84a5-48a2ada83ae5","name":"Esperar1","webhookId":"081c2ae2-687d-4d70-b215-9e54a0415e31"},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info1').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf854624-77ee-461e-a072-e373dcecf4f8","leftValue":"={{ $('Info1').item.json.info_arquivo }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Arquivo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info1').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3408,208],"id":"875e6608-8e12-4956-9def-47ca9efae27a","name":"Tipo de mensagem1"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)","height":472,"width":548,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-432],"id":"afc06ed9-dd04-4ec2-8768-f2f0582b79d6","name":"Sticky Note18"},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":368,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,1216],"id":"5c0cdf9c-9e68-4c5e-8392-d4cf200b977c","name":"Sticky Note39","disabled":true},{"parameters":{"resource":"database","operation":"insert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info1').item.json.telefone }}","mensagem":"={{ $('Info1').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info1').item.json.info_arquivo ? `\\n${$('Info1').item.json.info_arquivo}` : '' }}","timestamp":"={{ $('Info1').item.json.timestamp.toDateTime() }}","id_mensagem":"={{ $('Info1').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2880,208],"id":"d9b689ec-8e57-4cae-83b0-8e95bb63ca0e","name":"Enfileirar mensagem.1","credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/update_last_seen","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,144],"id":"81650744-2d78-40dc-bb6a-0e492acc1431","name":"Marcar como lidas1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"curlImport":"","method":"GET","url":"={{ $('Mensagem recebida1').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3216,320],"id":"8804a7d3-7bc4-4141-998b-1ddc19724ae0","name":"Download áudio1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"resource":"audio","operation":"transcribe","fileSizeLimitNotice":" ","binaryPropertyName":"data","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3056,320],"id":"0465d0e5-42ac-42e3-ad22-e536c851a63f","name":"Transcrever audio1","credentials":{"openAiApi":{"id":"HhiJWtpNJJhxcLx6","name":"OpenAi account"}}},{"parameters":{"content":"[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)","height":80,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2192,704],"id":"ffd65e03-0dfb-4472-99a0-5b680da398ce","name":"Sticky Note40"},{"parameters":{"content":"## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.","height":160,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,-32],"id":"51ed76d0-ef6e-49cc-bf37-33efd2c1d02a","name":"Sticky Note41","disabled":true},{"parameters":{"content":"## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)","height":392,"width":1204,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3584,-928],"id":"581c607b-8806-4d72-a218-35a6d2518722","name":"Sticky Note42"},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwood.rodrigobrito.cloud","type":"string"},{"id":"542c4f0e-1d6a-4da2-8e08-a4127bd85423","name":"agendamento_duracao_minutos","value":"30","type":"string"},{"id":"8f1f8dd4-12e7-4c56-8d56-ada479a7225d","name":"cobranca_valor","value":"500","type":"string"},{"id":"9aa7c3ba-f1fa-4222-9b2e-824a2c743409","name":"id_conversa_alerta","value":"1","type":"string"},{"id":"a1ae5215-cb10-4482-a5b0-b59cb0407171","name":"url_asaas","value":"https://api-sandbox.asaas.com","type":"string"},{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $json.body.account.id }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"7ca2f49a-8aad-47db-877f-6b8ddc6c6830","name":"id_contato","value":"={{ $json.body.conversation.contact_inbox.contact_id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"188fafa0-910a-456b-91d0-9c9188d66535","name":"nome","value":"={{ $json.body.sender.name }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $json.body.message_type }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"38610298-ef19-4e79-bdeb-753c02636ef7","name":"email_usuario","value":"={{ $json.body.sender.email }}","type":"string"},{"id":"d37b6368-01a0-4161-a4a9-26c0960cd489","name":"atributos_contato","value":"={{ $json.body.sender.custom_attributes }}","type":"object"},{"id":"6ab3c868-9b6b-4452-884d-7f8faeeabdd5","name":"info_arquivo","value":"={{ !$json.body.attachments?.[0]?.meta?.is_recorded_audio && $json.body.attachments[0]?.file_type ? `\\n<usuário enviou um arquivo do tipo '${$json.body.attachments[0]?.file_type}'>` : '' }}","type":"string"},{"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"attachment_url","value":"={{ $json.body.attachments?.[0]?.data_url || '' }}","type":"string"},{"id":"a1b2c3d4-0002-0002-0002-000000000002","name":"attachment_file_type","value":"={{ $json.body.attachments?.[0]?.file_type || '' }}","type":"string"}]},"includeOtherFields":false,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4096,224],"id":"20f40d76-76b6-4877-9a95-1f243ae19e0f","name":"Info1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2ed5d70-7afa-4b23-ba63-5bcc23325d25","leftValue":"={{ $json.tipo }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"82912d66-ee4b-439c-9d55-96090bc6ba62","leftValue":"={{ $json.etiquetas }}","rightValue":"agente-off","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"ed3e36d7-4f2c-4804-9e8d-f9b08494e939","leftValue":"={{ $json.etiquetas }}","rightValue":"gestor","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.etiquetas }}","rightValue":"testando-agente","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3600,224],"id":"1659c2e8-2137-4827-b9eb-d0d46aa12294","name":"Processar mensagem?1"},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem.toLowerCase() }}","rightValue":"/reset","operator":{"type":"string","operation":"equals"},"id":"a29a880e-fb21-43fa-9a4a-092128ddfe2e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reset"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45","leftValue":"={{ $json.mensagem.toLowerCase() }}","rightValue":"/teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Teste"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"imp-cond-0001-0001-0001-000000000001","leftValue":"={{ $json.mensagem.toLowerCase().trim() }}","rightValue":"importar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Importar"}]},"looseTypeValidation":false,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensagem normal"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3872,208],"id":"959a87db-5d5a-48b1-8d13-6415032ac4ac","name":"Reset ou teste1"},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"labels","value":"={{ $('Info1').item.json.etiquetas.filter(etiqueta => !['agente-off'].includes(etiqueta)) }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3120,-448],"id":"f98627e7-0c2d-4de9-8c15-8cfd83024b6c","name":"Limpar etiquetas1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"content","value":"=Memória resetada."}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2560,-448],"id":"f8296607-78b6-47b4-b43f-34ee6053b035","name":"Enviar memória resetada1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"DELETE FROM ai.agno_sessions WHERE session_id = '{{ $('Info1').item.json.telefone }}';\nDELETE FROM ai.agno_memories WHERE session_id = '{{ $('Info1').item.json.telefone }}';\nDELETE FROM public.transactions WHERE user_id IN (SELECT id FROM public.users WHERE phone = '{{ $('Info1').item.json.telefone }}');\nDELETE FROM public.financial_goals WHERE user_id IN (SELECT id FROM public.users WHERE phone = '{{ $('Info1').item.json.telefone }}');\nDELETE FROM public.users WHERE phone = '{{ $('Info1').item.json.telefone }}';\nDELETE FROM public.n8n_historico_mensagens WHERE session_id = '{{ $('Info1').item.json.telefone }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3504,-448],"id":"8ac9a259-4e04-465f-926f-ba5825e1e975","name":"Limpar memória1","credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/contacts/{{ $('Info1').item.json.id_contato }}/destroy_custom_attributes","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": [\"preferencia_audio_texto\", \"asaas_id_cliente\", \"asaas_id_cobranca\", \"asaas_status_cobranca\"]\n}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3312,-448],"id":"87478ed6-78d2-492c-9d34-fa458034482d","name":"Resetar atributos1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"resource":"database","operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","condition":"equal","value":"={{ $('Info1').item.json.telefone }}"}]},"combineConditions":"AND","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2736,-448],"id":"7980bbd9-b84e-47dc-82f8-f56a3181a5f0","name":"Limpar fila de mensagens3","credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.etiquetas.append('testando-agente').unique() }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3504,-144],"id":"15b4e736-8f50-41a0-b28f-89aa83881c4f","name":"Colocar etiqueta testando-agente1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"content","value":"=Modo de teste habilitado."}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3312,-144],"id":"308da63b-53cd-484a-a312-9d7615e7b911","name":"Enviar teste habilitado1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84e8cae9-28e3-4abd-869c-612fcff95948","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ee8306ee-1d14-4732-9865-a21f52da6a2e","leftValue":"={{ $json.lock_conversa }}","rightValue":"pending","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"bf08f3f7-aff7-47be-8f89-2d0e3ee19049","leftValue":"={{ $runIndex }}","rightValue":5,"operator":{"type":"number","operation":"gte"}}],"combinator":"or"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2336,336],"id":"470e0e47-9d8b-4b8d-8eb9-50bd965e9029","name":"Agente já terminou de responder?1"},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?1').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"includeOtherFields":false,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,144],"id":"bf816276-19bd-4182-b7ac-01bcd5522bed","name":"Coletar mensagens1","executeOnce":true},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"__rl":true,"value":"mg6tDNh4dYdxg2Pi","mode":"list","cachedResultUrl":"/workflow/mg6tDNh4dYdxg2Pi","cachedResultName":"07. Quebrar e enviar mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $json.content }}","id_conversa":"={{ $('Info1').item.json.id_conversa }}","id_conta":"={{ $('Info1').item.json.id_conta }}","url_chatwoot":"={{ $('Info1').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"once","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1968,144],"id":"4260f4df-7679-4864-9f53-530c398ba6fc","name":"Quebrar e enviar mensagens1"},{"parameters":{"content":"## Configurar node Info!!","height":240,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4192,144],"typeVersion":1,"id":"07902a4b-d603-4f12-84d6-abe50bc516bb","name":"Sticky Note2"},{"parameters":{"resource":"database","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"returnAll":true,"where":{"values":[{"column":"session_id","condition":"equal","value":"={{ $('Info1').item.json.telefone }}"}]},"combineConditions":"AND","sort":{},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2560,336],"id":"f135860d-511d-4daa-8f17-5f1454111727","name":"Verificar status atendimento1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"resource":"database","operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":true,"numero_followup":0,"aguardando_followup":true,"updated_at":"={{ $now }}"},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2112,336],"id":"7ec348a3-77fc-4869-8b5c-a0caaf0af41e","name":"Bloquear status atendimento1","alwaysOutputData":false,"credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"resource":"database","operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":false,"numero_followup":0,"aguardando_followup":false},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2928,-448],"id":"a9d65187-d394-41e2-bd48-de6a7f161f1a","name":"Resetar status atendimento1","alwaysOutputData":false,"credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"resource":"database","operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_status_atendimento","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Info1').item.json.telefone }}","lock_conversa":false},"matchingColumns":["session_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lock_conversa","displayName":"lock_conversa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false},{"id":"aguardando_followup","displayName":"aguardando_followup","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"numero_followup","displayName":"numero_followup","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2416,256],"id":"3efa8149-51e5-4929-91b5-b938f4b23a51","name":"Limpar status atendimento3","alwaysOutputData":false,"executeOnce":true,"credentials":{"postgres":{"id":"sWHxhseXu220kAeK","name":"Postgres account 2"}}},{"parameters":{"content":"## Resetar conversa\n","height":288,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3584,-528],"typeVersion":1,"id":"04ccc7aa-259d-434b-a8b1-59789d91854d","name":"Sticky Note5","disabled":true},{"parameters":{"content":"## Habilitar testes\n","height":272,"width":448,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-3584,-224],"typeVersion":1,"id":"3389bd7f-5d7a-423e-8a89-1d6f41c62ad9","name":"Sticky Note10","disabled":true},{"parameters":{"content":"## Core","height":336,"width":272,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,304],"id":"5b009f30-f635-47b3-ab91-d0ae2756ceb8","name":"Sticky Note43","disabled":true},{"parameters":{"content":"## Google Drive","height":336,"width":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1440,304],"id":"665b8aa3-3e44-4900-9d74-8d122d82ee8a","name":"Sticky Note44","disabled":true},{"parameters":{"content":"## Google Calendar","height":336,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1152,304],"id":"0c871094-7d4c-49cc-9c78-25dc3669421e","name":"Sticky Note45","disabled":true},{"parameters":{"content":"## Chatwoot","height":336,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,304],"id":"9e6fce9b-978b-4882-8973-4c8c40100d28","name":"Sticky Note46","disabled":true},{"parameters":{"content":"## Asaas","height":336,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,304],"id":"fcbd4394-48cb-4dcc-87e4-ea5354742867","name":"Sticky Note47","disabled":true},{"parameters":{"content":"## Tratar input","height":448,"width":1600,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,64],"id":"4820e6c9-f626-497c-b529-dc8f4a4f2e12","name":"Sticky Note48"},{"parameters":{"content":"## Mensagens encavaladas","height":448,"width":960,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2736,64],"typeVersion":1,"id":"8681237f-3efc-4f25-b32f-40d0886cc360","name":"Sticky Note49","disabled":true},{"parameters":{"content":"## Secretária\n","height":608,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1760,64],"typeVersion":1,"id":"86b8a225-442b-47f7-ad33-787506e42725","name":"Sticky Note50","disabled":true},{"parameters":{"content":"## Pré-processar e enviar resposta","height":608,"width":1872,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,64],"id":"20d7e90c-2fd7-4283-9f5e-369b9aa8cfa4","name":"Sticky Note51","disabled":true},{"parameters":{"content":"## Tratar output do agente","height":608,"width":816,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-112,64],"typeVersion":1,"id":"bbd71395-eb05-4d71-89da-3491628d5140","name":"Sticky Note52","disabled":true},{"parameters":{"content":"# Checklist\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n- [ ] Configurar webhook no Chatwoot\n- [ ] Configura o node \"Info\"\n- [ ] Subworkflow \"Baixar e enviar arquivo\" -> Workflow 02\n- [ ] Subworkflow \"Buscar janelas disponíveis\" -> Workflow 03\n- [ ] Subworkflow \"Criar evento\" -> Workflow 04\n- [ ] Subworkflow \"Escalar humano\" -> Workflow 05\n- [ ] Subworkflow \"Criar ou buscar cobrança\" -> Workflow 06\n- [ ] Abrir os nodes restantes para selecionar as credenciais\n- [ ] Posicionar corretamente o node \"Bloquear status atendimento\"","height":448,"width":544,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,64],"id":"eacc71ae-5faa-4155-8f5c-353a4f734173","name":"Sticky Note53"},{"parameters":{"content":"## 01. Secretária v3","height":80,"width":272,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-976],"id":"a905d305-6955-4c6d-80a1-0bba9e9b9a5e","name":"Sticky Note54"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"ff8c6fec-8f57-4b74-b439-ce46d6c2fa75","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4320,224],"id":"61d4e3af-d649-4bb5-a797-8e52006f38a7","name":"Mensagem recebida1","webhookId":"ff8c6fec-8f57-4b74-b439-ce46d6c2fa75"},{"parameters":{"content":"## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"","height":240,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2112,-144],"typeVersion":1,"id":"bfdae7d6-448b-4c00-a49d-070ee9ff4513","name":"Sticky Note55"},{"parameters":{"content":"# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)","height":464,"width":656,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1744,688],"id":"3c394785-9d48-470b-bc71-d3d3711cac45","name":"Sticky Note56"},{"parameters":{"content":"# Checklist - Google\n\nPara habilitar os nodes, selecionar e apertar \"D\".\n\n### Configurações Google (Drive, Calendar, etc...)\n- [ ] Criar e selecionar projeto -> https://console.cloud.google.com/\n- [ ] Criar client OAuth -> https://console.cloud.google.com/auth/clients\n- [ ] Baixar arquivo com as credenciais (ID do cliente e chave secreta)\n\n#### Ativar APIs\n- [ ] [Google Calendar](https://console.cloud.google.com/marketplace/product/google/calendar-json.googleapis.com)\n- [ ] [Google Drive](https://console.cloud.google.com/marketplace/product/google/drive.googleapis.com)\n- [ ] [Google Tasks](https://console.cloud.google.com/marketplace/product/google/tasks.googleapis.com)\n- [ ] [Gmail](https://console.cloud.google.com/marketplace/product/google/gmail.googleapis.com)\n\n### Criar credenciais\n- [ ] Google Drive\n- [ ] Google Calendar\n","height":720,"width":512,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,688],"id":"d2d3e607-320e-4cb7-8225-2dfcbcbd849c","name":"Sticky Note57"},{"parameters":{"content":"## Usei Hostinger pra este workflow. Replique aqui.\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n","height":284,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,-656],"id":"d5c66c2e-998d-4c98-8007-9d21f4558c5d","name":"Sticky Note58"},{"parameters":{"content":"[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n","height":96,"width":324,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4288,-576],"id":"44842294-59a7-4595-90e4-134608fae4f1","name":"Sticky Note59"},{"parameters":{"content":"## Número para WhatsApp? Salvy\n\n\n\n## [Ative seu número](https://use.salvy.com.br/lucas-moreira)\n\n\n","height":188,"width":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,-352],"id":"e195a0c2-8a62-4dc6-962c-0e93a60197a6","name":"Sticky Note60"},{"parameters":{"content":"## WhatsApp em produção: Z-API\n\n\n## [Conecte seu](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n## [WhatsApp agora](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n\n\n","height":188,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4352,-144],"id":"cd245383-df16-4f8b-95fc-2912cbbb3972","name":"Sticky Note61"},{"parameters":{"content":"[![Salvy](https://framerusercontent.com/images/dF05SiMwnxfXjHsnkGqZ4Up7ZIg.webp?width=120&height=65)](https://use.salvy.com.br/lucas-moreira)\n","height":96,"width":150,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4080,-288],"id":"e2c0712f-9c0f-48d4-83a3-369f800a55ec","name":"Sticky Note62"},{"parameters":{"content":"[![Z-API](https://framerusercontent.com/images/Mk3wSqDgBWGmQbAP6AX6yYZD02E.png?width=488&height=186)](https://app.z-api.io/app/auth/new-account?afilliate=3E0B31343E6CB0297B567AC1D8277FBB)\n","height":96,"width":180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4112,-80],"id":"61a16eb7-4460-4e13-a1e8-49f1352719e5","name":"Sticky Note63"},{"parameters":{"content":"## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")","height":160,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3728,384],"typeVersion":1,"id":"e0dc6d1f-ccd7-400e-853b-6c9c0facc63e","name":"Sticky Note64"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-880],"id":"c1e891ce-7b0a-4d56-91d7-4ec529664224","name":"Sticky Note65"},{"parameters":{"content":"@[youtube](FnEr3ksORS4)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,608],"id":"8ec57186-e75c-48a2-b89d-ef2ab4663730","name":"Sticky Note66"},{"parameters":{"content":"@[youtube](KvplCGkKpic)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,704],"id":"72fc7522-5adf-4d92-8409-7645e8fa30e8","name":"Sticky Note67"},{"parameters":{"content":"@[youtube](wG9nXprBYUk)","height":224,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2608,64],"id":"14ab05ed-52c5-4dd7-ac00-e3148ef64d42","name":"Sticky Note68"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"data","destinationKey":"data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3312,544],"id":"658b004e-e453-495b-ad7e-3373ba3d7275","name":"Extract from File1"},{"parameters":{"operation":"toBinary","sourceProperty":"data","binaryPropertyName":"data","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3168,544],"id":"fff6e66e-3521-4020-9a11-f2628a9f6be3","name":"Convert to File1"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter","height":272,"width":352,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3376,528],"typeVersion":1,"id":"9921f6ae-41ab-4383-86a0-1650dc4a7995","name":"Sticky Note69","disabled":true},{"parameters":{"curlImport":"","method":"POST","url":"https://atlas-m3wb.onrender.com/agents/atlas/runs","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"message","value":"={{ '[user_phone: ' + $('Info1').item.json.telefone + ']\\n[user_name: ' + $('Info1').item.json.nome + ']\\n' + $('Coletar mensagens1').first().json.mensagem }}"},{"parameterType":"formData","name":"session_id","value":"={{ $('Info1').item.json.telefone }}"},{"parameterType":"formData","name":"stream","value":"false"}]},"options":{},"infoMessage":""},"id":"c0de1473-2b84-4838-a736-e33e352722e1","name":"ATLAS Agno API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,144]},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"arq-cond-0001-0001-0001-000000000001","leftValue":"={{ $('Info1').item.json.attachment_file_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}},{"id":"arq-cond-0002-0002-0002-000000000002","leftValue":"={{ $('Info1').item.json.attachment_file_type }}","rightValue":"document","operator":{"type":"string","operation":"equals"}},{"id":"arq-cond-0003-0003-0003-000000000003","leftValue":"={{ $('Info1').item.json.attachment_url }}","rightValue":".pdf","operator":{"type":"string","operation":"endsWith"}}],"combinator":"or"},"renameOutput":true,"outputKey":"Fatura"}]},"looseTypeValidation":false,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro arquivo"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3150,450],"id":"f1a2b3c4-0001-0001-0001-fatura000001","name":"Tipo de arquivo1"},{"parameters":{"curlImport":"","method":"POST","url":"https://atlas-m3wb.onrender.com/v1/parse-statement","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"user_phone","value":"={{ $('Info1').item.json.telefone }}"},{"parameterType":"formData","name":"image_url","value":"={{ $('Info1').item.json.attachment_url }}"},{"parameterType":"formData","name":"card_name","value":"={{ $('Info1').item.json.mensagem }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2820,560],"id":"f1a2b3c4-0002-0002-0002-fatura000002","name":"Analisar Fatura1"},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.message }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2520,560],"id":"f1a2b3c4-0003-0003-0003-fatura000003","name":"Enviar análise fatura1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}},{"parameters":{"curlImport":"","method":"GET","url":"=https://atlas-m3wb.onrender.com/v1/pending-import?user_phone={{ $('Info1').item.json.telefone }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3550,-150],"id":"f1a2b3c4-0004-0004-0004-import00004","name":"Buscar import pendente1"},{"parameters":{"curlImport":"","method":"POST","url":"https://atlas-m3wb.onrender.com/v1/import-statement","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"user_phone","value":"={{ $('Info1').item.json.telefone }}"},{"parameterType":"formData","name":"import_id","value":"={{ $json.import_id }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3250,-150],"id":"f1a2b3c4-0005-0005-0005-import00005","name":"Confirmar importação1"},{"parameters":{"curlImport":"","method":"POST","url":"={{ $('Info1').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info1').item.json.id_conta }}/conversations/{{ $('Info1').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.message }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2950,-150],"id":"f1a2b3c4-0006-0006-0006-import00006","name":"Enviar confirmação importação1","credentials":{"chatwootApi":{"id":"VIcktgIr9MjDltkK","name":"ChatWoot account"}}}],"connections":{"Colocar etiqueta testando-agente":{"main":[[{"node":"Enviar teste habilitado","type":"main","index":0}]]},"Mensagem encavalada?1":{"main":[[{"node":"Verificar status atendimento1","type":"main","index":0}]]},"Buscar mensagens1":{"main":[[{"node":"Mensagem encavalada?1","type":"main","index":0}]]},"Limpar fila de mensagens2":{"main":[[{"node":"Marcar como lidas1","type":"main","index":0}]]},"Esperar1":{"main":[[{"node":"Buscar mensagens1","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Enfileirar mensagem.1","type":"main","index":0}],[{"node":"Tipo de arquivo1","type":"main","index":0}],[{"node":"Download áudio1","type":"main","index":0}]]},"Enfileirar mensagem.1":{"main":[[{"node":"Esperar1","type":"main","index":0}]]},"Marcar como lidas1":{"main":[[{"node":"Coletar mensagens1","type":"main","index":0}]]},"Download áudio1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Transcrever audio1":{"main":[[{"node":"Enfileirar mensagem.1","type":"main","index":0}]]},"Info1":{"main":[[{"node":"Reset ou teste1","type":"main","index":0}]]},"Processar mensagem?1":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Reset ou teste1":{"main":[[{"node":"Limpar memória1","type":"main","index":0}],[{"node":"Colocar etiqueta testando-agente1","type":"main","index":0}],[{"node":"Buscar import pendente1","type":"main","index":0}],[{"node":"Processar mensagem?1","type":"main","index":0}]]},"Limpar etiquetas1":{"main":[[{"node":"Resetar status atendimento1","type":"main","index":0}]]},"Limpar memória1":{"main":[[{"node":"Resetar atributos1","type":"main","index":0}]]},"Resetar atributos1":{"main":[[{"node":"Limpar etiquetas1","type":"main","index":0}]]},"Limpar fila de mensagens3":{"main":[[{"node":"Enviar memória resetada1","type":"main","index":0}]]},"Colocar etiqueta testando-agente1":{"main":[[{"node":"Enviar teste habilitado1","type":"main","index":0}]]},"Agente já terminou de responder?1":{"main":[[{"node":"Bloquear status atendimento1","type":"main","index":0}],[{"node":"Esperar1","type":"main","index":0}]]},"Coletar mensagens1":{"main":[[{"node":"ATLAS Agno API","type":"main","index":0}]]},"Quebrar e enviar mensagens1":{"main":[[{"node":"Limpar status atendimento3","type":"main","index":0}]]},"Verificar status atendimento1":{"main":[[{"node":"Agente já terminou de responder?1","type":"main","index":0}]]},"Resetar status atendimento1":{"main":[[{"node":"Limpar fila de mensagens3","type":"main","index":0}]]},"Mensagem recebida1":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever audio1","type":"main","index":0}]]},"Bloquear status atendimento1":{"main":[[{"node":"Limpar fila de mensagens2","type":"main","index":0}]]},"ATLAS Agno API":{"main":[[{"node":"Quebrar e enviar mensagens1","type":"main","index":0}]]},"Tipo de arquivo1":{"main":[[{"node":"Analisar Fatura1","type":"main","index":0}],[{"node":"Enfileirar mensagem.1","type":"main","index":0}]]},"Analisar Fatura1":{"main":[[{"node":"Enviar análise fatura1","type":"main","index":0}]]},"Buscar import pendente1":{"main":[[{"node":"Confirmar importação1","type":"main","index":0}]]},"Confirmar importação1":{"main":[[{"node":"Enviar confirmação importação1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}