lembretes_test_exec.json
{"data":[{"id":"2118","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-03-03T14:15:15.192Z","stoppedAt":"2026-03-03T11:15:15.462Z","workflowId":"TMKV1L0JKo3twjyV","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Not Found","timestamp":1772536515459,"context":{"itemIndex":0,"request":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"GET","uri":"https://atlas-m3wb.onrender.com/v1/reminders/daily","gzip":true,"rejectUnauthorized":true,"followRedirect":true,"resolveWithFullResponse":true,"sendCredentialsOnCrossOriginRedirect":true,"followAllRedirects":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"id":"node-get-reminders-test","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"curlImport":"","method":"GET","url":"https://atlas-m3wb.onrender.com/v1/reminders/daily","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""}},"messages":["404 - \"{\\\"detail\\\":\\\"Not Found\\\"}\""],"httpCode":"404","message":"The resource you are requesting could not be found","stack":"NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:864:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1069:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1250:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1685:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2328:11"},"runData":{"Webhook Trigger":[{"startTime":1772536515206,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.rodrigobrito.cloud","user-agent":"curl/8.11.0","content-length":"14","accept":"*/*","content-type":"application/json","x-forwarded-for":"179.214.224.237","x-forwarded-host":"n8n.rodrigobrito.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b9a39e9301bd","x-real-ip":"179.214.224.237","accept-encoding":"gzip"},"params":{},"query":{},"body":{"test":true},"webhookUrl":"https://n8n.rodrigobrito.cloud/webhook/test-lembretes-run","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"GET Lembretes do Dia":[{"startTime":1772536515207,"executionIndex":1,"source":[{"previousNode":"Webhook Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":254,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Not Found","timestamp":1772536515459,"context":{"itemIndex":0,"request":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"GET","uri":"https://atlas-m3wb.onrender.com/v1/reminders/daily","gzip":true,"rejectUnauthorized":true,"followRedirect":true,"resolveWithFullResponse":true,"sendCredentialsOnCrossOriginRedirect":true,"followAllRedirects":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"id":"node-get-reminders-test","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"curlImport":"","method":"GET","url":"https://atlas-m3wb.onrender.com/v1/reminders/daily","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""}},"messages":["404 - \"{\\\"detail\\\":\\\"Not Found\\\"}\""],"httpCode":"404","message":"The resource you are requesting could not be found","stack":"NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:864:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1069:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1250:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1685:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2328:11"}}]},"lastNodeExecuted":"GET Lembretes do Dia"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"id":"node-get-reminders-test","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"curlImport":"","method":"GET","url":"https://atlas-m3wb.onrender.com/v1/reminders/daily","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""}},"data":{"main":[[{"json":{"headers":{"host":"n8n.rodrigobrito.cloud","user-agent":"curl/8.11.0","content-length":"14","accept":"*/*","content-type":"application/json","x-forwarded-for":"179.214.224.237","x-forwarded-host":"n8n.rodrigobrito.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b9a39e9301bd","x-real-ip":"179.214.224.237","accept-encoding":"gzip"},"params":{},"query":{},"body":{"test":true},"webhookUrl":"https://n8n.rodrigobrito.cloud/webhook/test-lembretes-run","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook Trigger","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772536515206,"source":"webhook","triggerNode":{"name":"Webhook Trigger","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"TMKV1L0JKo3twjyV","name":"TEST - Lembretes Trigger","active":true,"activeVersionId":"befec072-d3cf-411d-b5ea-f24a889d0954","isArchived":false,"createdAt":"2026-03-03T11:14:00.860Z","updatedAt":"2026-03-03T11:15:14.830Z","nodes":[{"id":"webhook-test-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"test-lembretes-12345","parameters":{"multipleMethods":false,"httpMethod":"POST","path":"test-lembretes-run","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}}},{"id":"node-get-reminders-test","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"curlImport":"","method":"GET","url":"https://atlas-m3wb.onrender.com/v1/reminders/daily","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""}}],"connections":{"Webhook Trigger":{"main":[[{"node":"GET Lembretes do Dia","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}},{"id":"2117","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-03-03T14:14:28.177Z","stoppedAt":"2026-03-03T11:14:28.199Z","workflowId":"TMKV1L0JKo3twjyV","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"cause":"={{ $env.AGNO_API_URL }}/v1/reminders/daily","level":"warning","tags":{},"timestamp":1772536468194,"context":{"causeDetailed":"If you need access please contact the administrator to remove the environment variable ‘N8N_BLOCK_ENV_ACCESS_IN_NODE‘","runIndex":0,"itemIndex":0,"parameter":"url"},"functionality":"regular","name":"ExpressionError","message":"access to env vars denied","stack":"ExpressionError: access to env vars denied\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/workflow-data-proxy-env-provider.ts:63:12)\n    at Proxy.eval (eval at getFunction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:13:16), <anonymous>:7:51)\n    at Proxy.eval (eval at getFunction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:13:16), <anonymous>:14:3)\n    at FunctionEvaluator.evaluate (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:20:13)\n    at Tournament.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/index.ts:45:25)\n    at evaluateExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression-evaluator-proxy.ts:20:9)\n    at Expression.renderExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:472:29)\n    at Expression.resolveSimpleParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:453:28)\n    at Expression.getParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:654:16)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:464:37)"},"runData":{"Webhook Trigger":[{"startTime":1772536468186,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.rodrigobrito.cloud","user-agent":"curl/8.11.0","content-length":"14","accept":"*/*","content-type":"application/json","x-forwarded-for":"179.214.224.237","x-forwarded-host":"n8n.rodrigobrito.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b9a39e9301bd","x-real-ip":"179.214.224.237","accept-encoding":"gzip"},"params":{},"query":{},"body":{"test":true},"webhookUrl":"https://n8n.rodrigobrito.cloud/webhook/test-lembretes-run","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"GET Lembretes do Dia":[{"startTime":1772536468187,"executionIndex":1,"source":[{"previousNode":"Webhook Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":12,"executionStatus":"error","error":{"cause":"={{ $env.AGNO_API_URL }}/v1/reminders/daily","level":"warning","tags":{},"timestamp":1772536468194,"context":{"causeDetailed":"If you need access please contact the administrator to remove the environment variable ‘N8N_BLOCK_ENV_ACCESS_IN_NODE‘","runIndex":0,"itemIndex":0,"parameter":"url"},"functionality":"regular","name":"ExpressionError","message":"access to env vars denied","stack":"ExpressionError: access to env vars denied\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/workflow-data-proxy-env-provider.ts:63:12)\n    at Proxy.eval (eval at getFunction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:13:16), <anonymous>:7:51)\n    at Proxy.eval (eval at getFunction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:13:16), <anonymous>:14:3)\n    at FunctionEvaluator.evaluate (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/FunctionEvaluator.ts:20:13)\n    at Tournament.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+tournament@1.0.6/node_modules/@n8n/tournament/src/index.ts:45:25)\n    at evaluateExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression-evaluator-proxy.ts:20:9)\n    at Expression.renderExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:472:29)\n    at Expression.resolveSimpleParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:453:28)\n    at Expression.getParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:654:16)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:464:37)"}}]},"lastNodeExecuted":"GET Lembretes do Dia"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"id":"node-get-reminders-test","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"curlImport":"","method":"GET","url":"={{ $env.AGNO_API_URL }}/v1/reminders/daily","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""}},"data":{"main":[[{"json":{"headers":{"host":"n8n.rodrigobrito.cloud","user-agent":"curl/8.11.0","content-length":"14","accept":"*/*","content-type":"application/json","x-forwarded-for":"179.214.224.237","x-forwarded-host":"n8n.rodrigobrito.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b9a39e9301bd","x-real-ip":"179.214.224.237","accept-encoding":"gzip"},"params":{},"query":{},"body":{"test":true},"webhookUrl":"https://n8n.rodrigobrito.cloud/webhook/test-lembretes-run","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook Trigger","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772536468186,"source":"webhook","triggerNode":{"name":"Webhook Trigger","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"TMKV1L0JKo3twjyV","name":"TEST - Lembretes Trigger","active":true,"activeVersionId":"0ff1b326-63cb-4210-88d8-58e1067f54f7","isArchived":false,"createdAt":"2026-03-03T11:14:00.860Z","updatedAt":"2026-03-03T11:14:00.860Z","nodes":[{"id":"webhook-test-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"test-lembretes-12345","parameters":{"multipleMethods":false,"httpMethod":"POST","path":"test-lembretes-run","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}}},{"id":"node-get-reminders-test","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"curlImport":"","method":"GET","url":"={{ $env.AGNO_API_URL }}/v1/reminders/daily","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""}}],"connections":{"Webhook Trigger":{"main":[[{"node":"GET Lembretes do Dia","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}],"nextCursor":null}