lembretes_put_response.json
{"updatedAt":"2026-03-03T11:21:32.524Z","createdAt":"2026-03-03T10:25:52.575Z","id":"ZksJVEHbOQE7hLan","name":"ATLAS — Lembretes Diários","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-schedule","name":"Agendar Diário 12h UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}}},{"id":"node-get-reminders","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"={{ $vars.AGNO_API_URL }}/v1/reminders/daily","options":{}}},{"id":"node-if-has-reminders","name":"Tem Lembretes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-count","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-no-op","name":"Sem Lembretes (Parar)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,460],"parameters":{}},{"id":"node-split-reminders","name":"Dividir Lembretes","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"return $input.first().json.reminders.map(r => ({ json: r }));"}},{"id":"node-buscar-contato-chatwoot","name":"Buscar Contato Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"parameters":{"method":"GET","url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/{{ $vars.CHATWOOT_ACCOUNT_ID }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $vars.CHATWOOT_API_TOKEN }}"}]},"options":{}}},{"id":"node-pegar-conversa","name":"Pegar Conversa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const contacts = $input.item.json.payload;\nif (!contacts || contacts.length === 0) {\n  return []; // skip se contato não encontrado\n}\nconst contact = contacts[0];\nconst conversations = contact.conversations || [];\nconst activeConv = conversations.find(c => c.status === 'open') || conversations[0];\nif (!activeConv) {\n  return [];\n}\nreturn [{\n  json: {\n    conversation_id: activeConv.id,\n    message: $input.item.json.message\n  }\n}];"}},{"id":"node-enviar-mensagem-chatwoot","name":"Enviar Mensagem Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300],"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/{{ $vars.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $vars.CHATWOOT_API_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.message, message_type: \"outgoing\", private: false }) }}","options":{}}}],"connections":{"Agendar Diário 12h UTC":{"main":[[{"node":"GET Lembretes do Dia","type":"main","index":0}]]},"GET Lembretes do Dia":{"main":[[{"node":"Tem Lembretes?","type":"main","index":0}]]},"Tem Lembretes?":{"main":[[{"node":"Dividir Lembretes","type":"main","index":0}],[{"node":"Sem Lembretes (Parar)","type":"main","index":0}]]},"Dividir Lembretes":{"main":[[{"node":"Buscar Contato Chatwoot","type":"main","index":0}]]},"Buscar Contato Chatwoot":{"main":[[{"node":"Pegar Conversa","type":"main","index":0}]]},"Pegar Conversa":{"main":[[{"node":"Enviar Mensagem Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":""},"staticData":{"node:Agendar Diário 12h UTC":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"13d5a0b5-4e5d-49c3-841e-86930d9bcdb0","activeVersionId":"13d5a0b5-4e5d-49c3-841e-86930d9bcdb0","versionCounter":8,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2026-03-03T11:21:32.526Z","createdAt":"2026-03-03T11:21:32.526Z","versionId":"13d5a0b5-4e5d-49c3-841e-86930d9bcdb0","workflowId":"ZksJVEHbOQE7hLan","nodes":[{"id":"node-schedule","name":"Agendar Diário 12h UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}}},{"id":"node-get-reminders","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"={{ $vars.AGNO_API_URL }}/v1/reminders/daily","options":{}}},{"id":"node-if-has-reminders","name":"Tem Lembretes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-count","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-no-op","name":"Sem Lembretes (Parar)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,460],"parameters":{}},{"id":"node-split-reminders","name":"Dividir Lembretes","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"return $input.first().json.reminders.map(r => ({ json: r }));"}},{"id":"node-buscar-contato-chatwoot","name":"Buscar Contato Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"parameters":{"method":"GET","url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/{{ $vars.CHATWOOT_ACCOUNT_ID }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $vars.CHATWOOT_API_TOKEN }}"}]},"options":{}}},{"id":"node-pegar-conversa","name":"Pegar Conversa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const contacts = $input.item.json.payload;\nif (!contacts || contacts.length === 0) {\n  return []; // skip se contato não encontrado\n}\nconst contact = contacts[0];\nconst conversations = contact.conversations || [];\nconst activeConv = conversations.find(c => c.status === 'open') || conversations[0];\nif (!activeConv) {\n  return [];\n}\nreturn [{\n  json: {\n    conversation_id: activeConv.id,\n    message: $input.item.json.message\n  }\n}];"}},{"id":"node-enviar-mensagem-chatwoot","name":"Enviar Mensagem Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300],"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/{{ $vars.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $vars.CHATWOOT_API_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.message, message_type: \"outgoing\", private: false }) }}","options":{}}}],"connections":{"Agendar Diário 12h UTC":{"main":[[{"node":"GET Lembretes do Dia","type":"main","index":0}]]},"GET Lembretes do Dia":{"main":[[{"node":"Tem Lembretes?","type":"main","index":0}]]},"Tem Lembretes?":{"main":[[{"node":"Dividir Lembretes","type":"main","index":0}],[{"node":"Sem Lembretes (Parar)","type":"main","index":0}]]},"Dividir Lembretes":{"main":[[{"node":"Buscar Contato Chatwoot","type":"main","index":0}]]},"Buscar Contato Chatwoot":{"main":[[{"node":"Pegar Conversa","type":"main","index":0}]]},"Pegar Conversa":{"main":[[{"node":"Enviar Mensagem Chatwoot","type":"main","index":0}]]}},"authors":"Rodrigo Gomes","name":null,"description":null,"autosaved":false}}