n8n_wf_payload.json
{"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"node-schedule","name":"Agendar Diário 12h UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,304]},{"parameters":{"url":"https://atlas-m3wb.onrender.com/v1/reminders/daily","options":{}},"id":"node-get-reminders","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-count","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"node-if-has-reminders","name":"Tem Lembretes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304]},{"parameters":{},"id":"node-no-op","name":"Sem Lembretes (Parar)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[912,464]},{"parameters":{"jsCode":"return $input.first().json.reminders.map(r => ({ json: r }));"},"id":"node-split-reminders","name":"Dividir Lembretes","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const phone = $input.item.json.phone;\nconst message = $input.item.json.message;\n\n// 1. Buscar contato no Chatwoot pelo telefone\nconst searchData = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/contacts/search',\n  qs: { q: phone },\n  headers: { 'api_access_token': 'KmFTvrjqvLuUSEQwAaUuJe4d' }\n});\nconst contacts = searchData.payload || [];\nif (!contacts || contacts.length === 0) {\n  return { json: {} };\n}\nconst contactId = contacts[0].id;\n\n// 2. Buscar conversas do contato\nconst convData = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/contacts/' + contactId + '/conversations',\n  headers: { 'api_access_token': 'KmFTvrjqvLuUSEQwAaUuJe4d' }\n});\nconst conversations = convData.payload || [];\nconst activeConv = conversations.find(c => c.status === 'open') || conversations[0];\nif (!activeConv) {\n  return { json: {} };\n}\nreturn {\n  json: {\n    conversation_id: activeConv.id,\n    message: message\n  }\n};"},"id":"node-pegar-conversa","name":"Pegar Conversa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,304]},{"parameters":{"method":"POST","url":"=https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"KmFTvrjqvLuUSEQwAaUuJe4d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.message, message_type: \"outgoing\", private: false }) }}","options":{}},"id":"node-enviar-mensagem-chatwoot","name":"Enviar Mensagem Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,304]}],"connections":{"Agendar Diário 12h UTC":{"main":[[{"node":"GET Lembretes do Dia","type":"main","index":0}]]},"GET Lembretes do Dia":{"main":[[{"node":"Tem Lembretes?","type":"main","index":0}]]},"Tem Lembretes?":{"main":[[{"node":"Dividir Lembretes","type":"main","index":0}],[{"node":"Sem Lembretes (Parar)","type":"main","index":0}]]},"Dividir Lembretes":{"main":[[{"node":"Pegar Conversa","type":"main","index":0}]]},"Pegar Conversa":{"main":[[{"node":"Enviar Mensagem Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":""},"name":"ATLAS — Lembretes Diários"}