wf_agenda_check.json
{"updatedAt":"2026-03-07T21:13:43.268Z","createdAt":"2026-03-07T21:13:43.268Z","id":"Qb5fqOZdC3ckFGAt","name":"ATLAS - Agenda Check (1min)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n1","name":"A cada 1 minuto","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"n2","name":"GET Agenda Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"url":"https://atlas-m3wb.onrender.com/v1/reminders/check","options":{"timeout":15000}}},{"id":"n3","name":"Tem Lembretes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"n4","name":"Sem Lembretes","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,460],"parameters":{}},{"id":"n5","name":"Dividir Lembretes","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"return $input.first().json.reminders.map(r => ({ json: r }));"}},{"id":"n6","name":"Pegar Conversa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const phone = $input.item.json.phone;\nconst message = $input.item.json.message;\n\nconst searchData = await this.helpers.httpRequest({\n  method: \"GET\",\n  url: \"https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/contacts/search\",\n  qs: { q: phone },\n  headers: { \"api_access_token\": \"KmFTvrjqvLuUSEQwAaUuJe4d\" }\n});\nconst contacts = searchData.payload || [];\nif (\\!contacts || contacts.length === 0) {\n  return { json: {} };\n}\nconst contactId = contacts[0].id;\n\nconst convData = await this.helpers.httpRequest({\n  method: \"GET\",\n  url: \"https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/contacts/\" + contactId + \"/conversations\",\n  headers: { \"api_access_token\": \"KmFTvrjqvLuUSEQwAaUuJe4d\" }\n});\nconst conversations = convData.payload || [];\nconst activeConv = conversations.find(c => c.status === \"open\") || conversations[0];\nif (\\!activeConv) {\n  return { json: {} };\n}\nreturn {\n  json: {\n    conversation_id: activeConv.id,\n    message: message\n  }\n};"}},{"id":"n7","name":"Enviar Mensagem Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"parameters":{"method":"POST","url":"=https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"KmFTvrjqvLuUSEQwAaUuJe4d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.message, message_type: \"outgoing\", private: false }) }}","options":{}}}],"connections":{"A cada 1 minuto":{"main":[[{"node":"GET Agenda Check","type":"main","index":0}]]},"GET Agenda Check":{"main":[[{"node":"Tem Lembretes?","type":"main","index":0}]]},"Tem Lembretes?":{"main":[[{"node":"Dividir Lembretes","type":"main","index":0}],[{"node":"Sem Lembretes","type":"main","index":0}]]},"Dividir Lembretes":{"main":[[{"node":"Pegar Conversa","type":"main","index":0}]]},"Pegar Conversa":{"main":[[{"node":"Enviar Mensagem Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:A cada 1 minuto":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"022a9840-4b34-4ede-9e25-c0908a44e1d9","activeVersionId":"022a9840-4b34-4ede-9e25-c0908a44e1d9","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-03-07T21:13:43.268Z","createdAt":"2026-03-07T21:13:43.268Z","role":"workflow:owner","workflowId":"Qb5fqOZdC3ckFGAt","projectId":"Te8G9TnibVXyTuYh","project":{"updatedAt":"2026-02-07T22:16:41.207Z","createdAt":"2026-02-07T22:15:37.290Z","id":"Te8G9TnibVXyTuYh","name":"Rodrigo Gomes <britoforex@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","projectRelations":[{"updatedAt":"2026-02-07T22:15:37.290Z","createdAt":"2026-02-07T22:15:37.290Z","userId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","projectId":"Te8G9TnibVXyTuYh","user":{"updatedAt":"2026-03-08T04:17:22.298Z","createdAt":"2026-02-07T22:15:35.478Z","id":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","email":"britoforex@gmail.com","firstName":"Rodrigo","lastName":"Gomes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-07T22:16:52.277Z","personalization_survey_n8n_version":"2.6.4","companySize":"20-99","companyType":"ecommerce","role":"customer-support"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"12XbuZTmMPfo2HrY","userActivatedAt":1770562347825,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1772462436090}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-08","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T21:13:43.280Z","createdAt":"2026-03-07T21:13:43.280Z","versionId":"022a9840-4b34-4ede-9e25-c0908a44e1d9","workflowId":"Qb5fqOZdC3ckFGAt","nodes":[{"id":"n1","name":"A cada 1 minuto","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"n2","name":"GET Agenda Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"url":"https://atlas-m3wb.onrender.com/v1/reminders/check","options":{"timeout":15000}}},{"id":"n3","name":"Tem Lembretes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"n4","name":"Sem Lembretes","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,460],"parameters":{}},{"id":"n5","name":"Dividir Lembretes","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"return $input.first().json.reminders.map(r => ({ json: r }));"}},{"id":"n6","name":"Pegar Conversa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const phone = $input.item.json.phone;\nconst message = $input.item.json.message;\n\nconst searchData = await this.helpers.httpRequest({\n  method: \"GET\",\n  url: \"https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/contacts/search\",\n  qs: { q: phone },\n  headers: { \"api_access_token\": \"KmFTvrjqvLuUSEQwAaUuJe4d\" }\n});\nconst contacts = searchData.payload || [];\nif (\\!contacts || contacts.length === 0) {\n  return { json: {} };\n}\nconst contactId = contacts[0].id;\n\nconst convData = await this.helpers.httpRequest({\n  method: \"GET\",\n  url: \"https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/contacts/\" + contactId + \"/conversations\",\n  headers: { \"api_access_token\": \"KmFTvrjqvLuUSEQwAaUuJe4d\" }\n});\nconst conversations = convData.payload || [];\nconst activeConv = conversations.find(c => c.status === \"open\") || conversations[0];\nif (\\!activeConv) {\n  return { json: {} };\n}\nreturn {\n  json: {\n    conversation_id: activeConv.id,\n    message: message\n  }\n};"}},{"id":"n7","name":"Enviar Mensagem Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"parameters":{"method":"POST","url":"=https://chatwood.rodrigobrito.cloud/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"KmFTvrjqvLuUSEQwAaUuJe4d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.message, message_type: \"outgoing\", private: false }) }}","options":{}}}],"connections":{"A cada 1 minuto":{"main":[[{"node":"GET Agenda Check","type":"main","index":0}]]},"GET Agenda Check":{"main":[[{"node":"Tem Lembretes?","type":"main","index":0}]]},"Tem Lembretes?":{"main":[[{"node":"Dividir Lembretes","type":"main","index":0}],[{"node":"Sem Lembretes","type":"main","index":0}]]},"Dividir Lembretes":{"main":[[{"node":"Pegar Conversa","type":"main","index":0}]]},"Pegar Conversa":{"main":[[{"node":"Enviar Mensagem Chatwoot","type":"main","index":0}]]}},"authors":"Rodrigo Gomes","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-07T21:13:50.390Z","id":226,"workflowId":"Qb5fqOZdC3ckFGAt","versionId":"022a9840-4b34-4ede-9e25-c0908a44e1d9","event":"activated","userId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4"}]}}