wf_chatwoot_verify.json
{"updatedAt":"2026-03-03T10:36:34.200Z","createdAt":"2026-03-03T10:25:52.575Z","id":"ZksJVEHbOQE7hLan","name":"ATLAS — Lembretes Diários","description":null,"active":false,"isArchived":false,"nodes":[{"id":"node-schedule","name":"Agendar Diário 12h UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}}},{"id":"node-get-reminders","name":"GET Lembretes do Dia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"={{ $env.AGNO_API_URL }}/v1/reminders/daily","options":{}}},{"id":"node-if-has-reminders","name":"Tem Lembretes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-count","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-no-op","name":"Sem Lembretes (Parar)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,460],"parameters":{}},{"id":"node-split-reminders","name":"Dividir Lembretes","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"return $input.first().json.reminders.map(r => ({ json: r }));"}},{"id":"node-buscar-contato-chatwoot","name":"Buscar Contato Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"parameters":{"method":"GET","url":"={{ $env.CHATWOOT_URL }}/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $env.CHATWOOT_API_TOKEN }}"}]},"options":{}}},{"id":"node-pegar-conversa","name":"Pegar Conversa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const contacts = $input.item.json.payload;\nif (!contacts || contacts.length === 0) {\n  return []; // skip se contato não encontrado\n}\nconst contact = contacts[0];\nconst conversations = contact.conversations || [];\nconst activeConv = conversations.find(c => c.status === 'open') || conversations[0];\nif (!activeConv) {\n  return [];\n}\nreturn [{\n  json: {\n    conversation_id: activeConv.id,\n    message: $input.item.json.message\n  }\n}];"}},{"id":"node-enviar-mensagem-chatwoot","name":"Enviar Mensagem Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300],"parameters":{"method":"POST","url":"={{ $env.CHATWOOT_URL }}/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $env.CHATWOOT_API_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.message, message_type: \"outgoing\", private: false }) }}","options":{}}}],"connections":{"Agendar Diário 12h UTC":{"main":[[{"node":"GET Lembretes do Dia","type":"main","index":0}]]},"GET Lembretes do Dia":{"main":[[{"node":"Tem Lembretes?","type":"main","index":0}]]},"Tem Lembretes?":{"main":[[{"node":"Dividir Lembretes","type":"main","index":0}],[{"node":"Sem Lembretes (Parar)","type":"main","index":0}]]},"Dividir Lembretes":{"main":[[{"node":"Buscar Contato Chatwoot","type":"main","index":0}]]},"Buscar Contato Chatwoot":{"main":[[{"node":"Pegar Conversa","type":"main","index":0}]]},"Pegar Conversa":{"main":[[{"node":"Enviar Mensagem Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":""},"staticData":null,"meta":null,"pinData":null,"versionId":"318f67bc-ab0c-4f4e-a2bf-bc2a4164077b","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T10:25:52.575Z","createdAt":"2026-03-03T10:25:52.575Z","role":"workflow:owner","workflowId":"ZksJVEHbOQE7hLan","projectId":"Te8G9TnibVXyTuYh","project":{"updatedAt":"2026-02-07T22:16:41.207Z","createdAt":"2026-02-07T22:15:37.290Z","id":"Te8G9TnibVXyTuYh","name":"Rodrigo Gomes <britoforex@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","projectRelations":[{"updatedAt":"2026-02-07T22:15:37.290Z","createdAt":"2026-02-07T22:15:37.290Z","userId":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","projectId":"Te8G9TnibVXyTuYh","user":{"updatedAt":"2026-03-03T10:23:17.824Z","createdAt":"2026-02-07T22:15:35.478Z","id":"18393cff-bf6e-4d77-8e1f-adf0bf116db4","email":"britoforex@gmail.com","firstName":"Rodrigo","lastName":"Gomes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-07T22:16:52.277Z","personalization_survey_n8n_version":"2.6.4","companySize":"20-99","companyType":"ecommerce","role":"customer-support"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"12XbuZTmMPfo2HrY","userActivatedAt":1770562347825,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1772462436090}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-03","isPending":false}}]}}],"tags":[],"activeVersion":null}